@use "../../../../styles/colors";

body {
    overflow: hidden;
}

.layout {
    background: colors.$bg-app;
    height: -webkit-fill-available;
}

.header {
    display: flex;
    margin: 12px 40px;
    justify-content: space-between;
    position: relative;
    z-index: 999;
}

.icon {
    flex: 0 0 auto;
}
