@use "../../../../styles";

.contact {
    @include styles.text-primary-regular;
    display: flex;
    align-items: center;
    gap: 4px;
    max-width: 250px;
    user-select: none;

    .name {
        @include styles.ellipsis;
        color: styles.$text-primary;
    }

    .address {
        @include styles.ellipsis;
        color: styles.$text-secondary;
    }
}

.reset,
.contacts {
    @include styles.button-reset;
    @include styles.size(40px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: styles.$text-secondary;
    transition: styles.$trans-fast;

    &:hover {
        color: styles.$text-primary
    }

    > svg {
        @include styles.size(20px);
    }
}

.prefix {
    flex: 0 1 auto;
    overflow: hidden;
}
