@use '../../../../styles';

.select {
    height: auto;
    background: styles.$text-contrast;
    border-radius: 100px;

    >div:nth-child(1) {
        border: 0px solid styles.$stroke-primary;
        border-radius: 100px;
        padding: 0 42px 0 16px;
    }

    span {
        padding: 7px;
    } 

    >div:nth-child(2) {
        padding: auto;
        border: 0px solid styles.$stroke-primary;
        border-radius: 100px;
    }

}
