@use '../../../../styles';

.select {
    height: 44px;
    border-radius: 100px;

    :global(.rc-select-selector) {
        border-radius: 100px;
    }

    :global(.rc-select-arrow) {
        top: 2px;
        right: 6px;
    }
}
