@use "../../../../styles";

.item {
    border-radius: 8px;
    padding: 10px 12px;
    transition: background-color $trans-fast;

    &:hover {
        background: $bg-layer-1;
    }
}

.container {
    display: flex;
    align-items: center;
    gap: 14px;
    overflow: hidden;
}

.wrap {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    gap: 2px;
    overflow: hidden;
}

.icon {
    flex: 0 0 auto;
}

.name {
    @include styles.ellipsis;
    @include label_m;
    flex: 0 1 auto;
    color: $text-primary;
}

.balance {
    @include text_s;
    flex: 0 1 auto;
    color: $text-secondary;
}
