@use "../../../../styles";

.approval-accounts-list {
    .approval-accounts-list__search {
        margin-bottom: 20px;
    }

    .approval-accounts-list__item {
        display: flex;
        align-items: center;
        gap: 12px;
        border-bottom: 1px solid #ebedee;
        color: #000;
        cursor: pointer;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 16px;
        padding-bottom: 16px;

        &:hover {
            color: styles.$primary;
        }

        > .radio-button {
            flex: 0 0 auto;
        }
    }

    .approval-accounts-list__avatar {
        flex: 0 0 auto;
    }

    .approval-accounts-list__scope {
        flex: 1 1 0;
        overflow: hidden;
        cursor: pointer;
    }

    .approval-accounts-list__name {
        @include styles.ellipsis;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #000;
    }

    .approval-accounts-list__balance {
        @include styles.ellipsis;
        font-size: 12px;
        line-height: 16px;
        color: styles.$grey;
    }
}
