@use '../../../../styles';

.pane {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.address {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px 12px;
}

.label {
    @include styles.text-add-regular;
    color: styles.$text-secondary;
}

.value {
    @include styles.button-reset;
    @include styles.text-add-bold;
    color: styles.$text-primary;
    text-align: left;
    word-break: break-all;
}

.qr {
    flex: 0 0 auto;
    padding: 16px;
    border-right: 1px solid styles.$stroke-secondary;
}

.hint {
    @include styles.text-primary-regular;
    margin-top: 12px;
}

.qrSvg {
    border: 8px solid #fff;
    border-radius: 8px;
}
