@use "../../../../styles";

.deploy-receive {
    .deploy-receive__pane {
        border-radius: 12px;
        background-color: styles.$bg-secondary;
        box-shadow: styles.$shadow-secondary;
        margin-top: 20px;
        overflow: hidden;
    }

    .deploy-receive__user {
        padding: 16px;
        border-bottom: 1px solid styles.$stroke-secondary;
    }

    .deploy-receive__qr {
        padding: 32px 0;
    }
}
