@use '../../../../styles';

.multisig-form {
    .multisig-form__control-label {
        display: flex;
        align-items: center;
    }

    .multisig-form__delete {
        @include styles.button-reset;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
        color: styles.$error;
        margin-left: auto;
    }

    .multisig-form__add-btn {
        @include styles.button-reset;
        display: flex;
        align-items: center;
        gap: 6px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
        color: styles.$primary;
    }

    .multisig-form__content-header {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: #000;
        margin-top: 16px;
    }
}
