@use '../../../../styles';

.hint {
    @include styles.text-add-regular;
    color: styles.$text-secondary;
}

.custodians-title {
    margin: 8px 0 4px;
}

.custodian {
    display: flex;
    align-items: center;
    gap: 16px;
}

.remove {
    flex: 0 0 auto;
    color: styles.$red;
}

.tab {
    flex: 1 1 0;
}
