@use '../../../../styles';

.hint {
    @include styles.text-add-regular;
    color: styles.$text-secondary;
}

.custodians-title {
    margin: 8px 0 4px;
}

.custodian {
    display: flex;
    align-items: center;
    gap: 16px;
}

.remove {
    flex: 0 0 auto;
    color: styles.$red;
}

.reqconfirms {
    padding: 0 16px;
}

.expiration {
    flex: 0 0 auto;
    padding: 0 16px;
    width: 104px;
}

.tabs {
    flex: 1 1 0;
    padding: 0;
}

.tab {
    flex: 1 1 0;
    padding: 0;
}

.add {
    padding: 0;
    width: auto;
    align-self: flex-start;
}
