@use "../../../../styles";

.pane {
    border-radius: 16px;
    background: styles.$bg-secondary;
    box-shadow: styles.$shadow-secondary;
}

.item {
    padding: 12px 16px;

    &:not(:first-child) {
        border-top: 1px solid styles.$stroke-secondary;
    }
}

.name {
    @include styles.text-button;
    color: styles.$text-primary;
}

.desc {
    @include styles.text-add-regular;
    color: styles.$text-secondary;
    max-width: 248px;
    margin-top: 4px;
}

.switch {
    margin: 8px 0 16px;
}
