@use '../../../../styles';

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;

    &._counter {
        --layout-header-top: 44px;
        padding-top: 44px;
    }
}

.header {
    @include styles.size(100%, 44px);
    flex: 0 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 0 16px;
    background-color: styles.$bg-app;
    border-bottom: 1px solid styles.$stroke-primary;
    overflow: hidden;
    z-index: 100;
}

.counter {
    @include styles.text-button;
    color: styles.$text-primary;

    > .count {
        color: styles.$text-secondary;
        margin-left: 4px;
    }
}

.nav {
    flex: 0 0 auto;
    margin-left: auto;
}
