@use "../../../../styles";

.pane {
    display: grid;
    grid-template:
        "qr address" auto
        "qr pubkey" auto
        / 102px 1fr;
    margin-top: 20px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px 12px;

    &._address {
        grid-area: address;
    }

    &._pubkey {
        grid-area: pubkey;
        border-top: 1px solid styles.$stroke-secondary;
    }
}

.label {
    @include styles.text-add-regular;
    color: styles.$text-secondary;
}

.value {
    @include styles.button-reset;
    @include styles.text-add-bold;
    color: styles.$text-primary;
    text-align: left;
    word-break: break-all;
}

.qr {
    grid-area: qr;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    border-right: 1px solid styles.$stroke-secondary;
}

.qrSvg {
    border: 8px solid #fff;
    border-radius: 8px;
}

.btn {
    color: styles.$red;
}
