@use '../../../../styles';

@layer components {
    .form {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    :is(h1, h2) + .form {
        margin-top: 12px;
    }
}
