@use "../../../../styles/mixins";

#notification-container {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 10;

  @include mixins.mobile {
    left: 16px;
    right: 16px;
  }
}

.notification {
  position: relative;
  min-width: 360px;
  background: #fff;
  box-shadow:
    0 3px 6px -4px rgba(#000, .12),
    0 6px 16px rgba(#000, .08),
    0 9px 28px 8px rgba(#000, .05);
  border-radius: 2px;
  padding: 16px;
  margin-bottom: 16px;

  @include mixins.mobile {
    min-width: 100%;
  }

  .notification__title {
    color: #000;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 8px;
  }

  .notification__content {
    font-size: 14px;
    line-height: 1.5;
  }

  .notification__close {
    @include mixins.button-reset;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
  }
}
