@use "../../../../styles";

@layer components {
    #notification-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
        position: fixed;
        z-index: 200;
        bottom: 16px;
        right: 40px;
        pointer-events: none;

        @include styles.mobile {
            flex-direction: column-reverse;
            top: 16px;
            left: 16px;
            right: 16px;
            bottom: auto;
        }
    }

    .notification {
        display: flex;
        align-items: center;
        gap: 8px;
        min-width: 360px;
        box-shadow: styles.$shadow-main;
        border-radius: 12px;
        padding: 12px;
        pointer-events: auto;

        @include styles.mobile {
            width: auto;
            min-width: auto;
            align-self: center;
        }

        &._type-default {
            background-color: styles.$notification-default-bg;
            border: 1px solid styles.$notification-default-bd;
        }

        &._type-error {
            background-color: styles.$notification-error-bg;
            border: 1px solid styles.$notification-error-bd;
        }

        &._type-success {
            background-color: styles.$notification-success-bg;
            border: 1px solid styles.$notification-success-bd;
        }

        &.transition {
            &-enter {
                transform: translateY(calc(100% + 16px));
            }

            &-enter-active {
                transform: translateY(0);
                transition: transform styles.$trans;
            }

            &-exit {
                opacity: 1;
            }

            &-exit-active {
                opacity: 0;
                transition: opacity styles.$trans;
            }

            @include styles.mobile {
                &-enter {
                    transform: translateY(calc(-100% - 16px));
                }

                &-enter-active {
                    transform: translateY(0);
                    transition: transform styles.$trans;
                }
            }
        }

        .notification__content {
            @include styles.text-secondary-bold;
            color: styles.$text-contrast;
            flex: 1 1 0;
            display: flex;
            align-items: center;
            gap: 8px;

            svg {
                @include styles.size(20px);
                color: inherit;
            }
        }

        .notification__action {
            flex: 0 0 auto;
            width: auto;
            margin-left: auto;
        }
    }
}

.notification .notification__action:hover {
    background-color: styles.$bg-primary; // ¯\_(ツ)_/¯
}
