@use "../../../../styles";

.container {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.img {
    border-radius: 50%;
    flex: 0 0 auto;

    &._size-m {
        @include styles.size(20px);
        margin-right: 4px;
    }

    &._size-l {
        @include styles.size(40px);
        margin-right: 8px;
    }
}

.origin {
    @include styles.ellipsis;
    flex: 0 1 auto;
}
