@use "../../../../../styles";

@layer components {
    :root {
        --layout-header-bg: #{styles.$bg-app};
    }

    .layout-footer {
        flex: 0 0 auto;
        position: sticky;
        bottom: 0;
        z-index: 100;
        padding: 0 var(--layout-container-padding) var(--layout-container-padding);
        margin: 4px calc(-1 * var(--layout-container-padding)) 0;

        &:empty {
            display: none;
        }

        &._background {
            padding-top: 8px;
            background-color: var(--layout-header-bg);
        }

        .sliding-panel._whitebg & {
            --layout-header-bg: #{styles.$bg-secondary};
        }
    }
}
