@layer components {
    .layout-footer {
        flex: 0 0 auto;
        position: sticky;
        bottom: 0;
        z-index: 100;
        padding: 0 var(--layout-container-padding) var(--layout-container-padding);
        margin: 20px calc(-1 * var(--layout-container-padding)) 0;

        &:empty {
            display: none;
        }
    }
}
