.root {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px auto;

    &.wide {
        width: 100%;

        .inner {
            width: 100%;
        }
    }

    &.row {
        .inner {
            flex-direction: row;
        }
    }
    &.column {
        .inner {
            flex-direction: column;
        }
    }
}

.inner {
    min-width: 200px;
    display: flex;
    gap: 10px;
}
