footer.footer {
    flex: 0 0 auto;
    position: sticky;
    bottom: 0;
    z-index: 100;
    background: #fff;
    box-shadow: 0 -4px 8px 4px #fff;
    padding: 0 16px 20px;
    margin: 8px -16px 0;

    &:empty {
        display: none;
    }
}
