@use '../../../../styles';

@layer components {
    .space {
        display: flex;

        &._direction-row {
            flex-direction: row;
        }

        &._direction-column {
            flex-direction: column;
        }

        &._gap-xs {
            gap: 6px;
        }

        &._gap-s {
            gap: 8px;
        }

        &._gap-m {
            gap: 12px;
        }

        &._gap-l {
            gap: 16px;
        }

        &._gap-xl {
            gap: 24px;
        }

        > .space {
            flex: 1 1 0;
        }
    }
}

.space > form {
    margin-top: 0;
}
