@use "../../../../../styles";

@layer components {
    :root {
        --layout-header-top: 0px;
    }

    .layout-header {
        flex: 0 0 auto;
        position: sticky;
        top: var(--layout-header-top, 0px);
        z-index: 100;
        background-color: styles.$bg-app;
        padding: 0 var(--layout-container-padding);
        margin: 0 calc(-1 * var(--layout-container-padding)) 12px;
        border-bottom: 1px solid transparent;
        transition: border-bottom-color styles.$trans-fast;

        &:empty {
            display: none;
        }

        body.bg-white & {
            background-color: styles.$bg-secondary;
        }

        &._scroll {
            border-bottom-color: styles.$stroke-primary;
        }
    }
}
