@use "../../../../../styles";

@layer components {
    :root {
        --layout-header-top: 0px;
        --layout-header-bg: #{$bg};
    }

    .layout-header {
        flex: 0 0 auto;
        position: sticky;
        top: var(--layout-header-top, 0px);
        z-index: 100;
        padding: 0 var(--layout-container-padding);
        margin: 0 calc(-1 * var(--layout-container-padding)) 0;
        // border-bottom: 1px solid transparent;
        // transition: border-bottom-color styles.$trans-fast;

        &:empty {
            display: none;
        }

        body.bg-white &,
        .sliding-panel._whitebg & {
            --layout-header-bg: #{styles.$bg-secondary};
        }

        &._scroll {
            background-color: var(--layout-header-bg); // shadow overlap workaround
            // border-bottom-color: styles.$stroke-primary;
        }
    }
}
