header.header {
    flex: 0 0 auto;
    position: sticky;
    top: 0;
    z-index: 100;
    background: #fff;
    box-shadow: 0 4px 8px 4px #fff;
    padding: 20px 16px 0;
    margin: 0 -16px 8px;

    &:empty {
        display: none;
    }
}
