@use '../../../../styles';

.unstake-form {
    .unstake-form__field-input {
        margin-bottom: 24px;
    }

    .unstake-form__details {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 24px;

        .unstake-form__details-separator {
            width: 100%;
            height: 1px;
            border: none;
            margin: 0;
            background-color: styles.$neutral-900;
        }

        .unstake-form__details-item {
            display: flex;
            align-items: center;

            .unstake-form__details-item-label {
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.25px;
                color: styles.$neutral-400;
            }

            .unstake-form__details-item-value {
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.1px;
                color: #000;
                margin-left: auto;

                > strong {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;
                    letter-spacing: 0.15px;
                }
            }
        }
    }

    .unstake-form__details-info {
        padding: 12px;
        background: styles.$primary-light;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
        color: #000;
        margin-top: 20px;
    }
}
