@use '../../../../styles';

.header {
    margin-bottom: 0;
}

.logo {
    display: flex;
    margin: 0 auto 12px;
    width: 48px;
    height: 48px;
}

.balance {
    text-align: center;
    margin: 0 0 8px;
}

.int {
    @include display_m;
}

.frac {
    @include display_s;
}

.usd {
    @include label_m;
    color: $text-secondary;
    text-align: center;
    margin: 0 0 24px;
}

.actions {
    @include label_xs;
    color: $text-secondary;
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: center;
}

.label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
}
