@use '../../../../styles';

.asset-full {
    .asset-full__content {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0 calc(-1 * var(--layout-container-padding));
    }

    .asset-full__top {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 16px;
        margin-top: 12px;
    }

    .asset-full__info {
        width: 100%;
        overflow: hidden;

        .asset-full__info-name {
            @include styles.text-add-regular;
            color: styles.$text-secondary;
            text-align: center;
        }

        .asset-full__info-balance {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 4px;
            overflow: hidden;

            &._usd {
                @include styles.text-add-regular;
                margin-top: 12px;
            }

            .asset-full__info-balance-value {
                @include styles.ellipsis;
                flex: 0 1 auto;
            }

            .asset-full__info-balance-label {
                flex: 0 0 auto;
            }
        }
    }

    .asset-full__buttons {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 6px;
        margin-top: 16px;

        .asset-full__buttons-label {
            @include styles.text-add-bold;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            width: 80px;
            cursor: pointer;
            user-select: none;
        }
    }

    .asset-full__history {
        flex: 1 0 auto;
        border-radius: 24px 24px 0 0;
        background-color: styles.$bg-secondary;
        box-shadow: styles.$shadow-secondary;
        padding: 16px;
        margin-top: 20px;
    }
}
