@use '../../../../styles';

.asset-full {
    display: flex;
    flex-direction: column;
    height: 560px;

    .asset-full__top {
        flex: 0 0 auto;
        background-color: styles.$primary-light;
        padding: 20px 16px;
    }

    .asset-full__info {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .asset-full__info-icon {
            margin-right: 16px;
            min-width: 40px;
            width: 40px;
            height: 40px;
        }

        .asset-full__info-token {
            width: 100%;

            .asset-full__info-token-amount {
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 0.15px;
                color: #000;
            }

            .asset-full__info-token-comment {
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.25px;
                color: #000;
                margin-top: 4px;
            }
        }
    }

    .asset-full__history {
        flex: 1 1 0;
        padding: 0 16px;
        overflow-y: scroll;
    }
}
