@use '../../../../styles';

.panel {
    margin-top: 16px;
}

.date {
    @include text_s;
    color: styles.$text-secondary;
}

.info {
    @include label_m;
    color: styles.$text-contrast;
}

.copy {
    display: flex;
    align-items: center;
    gap: 8px;
    @include styles.button-reset;
    @include text_m;
    color: styles.$text-contrast;
    text-align: left;
    width: 100%;
}

.row {
    align-items: center;
    justify-content: space-between;
}

