@use "../../../../styles";

.list {
    display: grid;
    gap: 16px;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.item {
    @include styles.size(180px, 52px);
    width: 180px;
    border-radius: 12px;
    background-color: styles.$bg-secondary;
    padding: 0 16px;
}

.name {
    @include styles.ellipsis;
    @include label_m;
}

.pagination {
    margin-top: 32px;
    overflow: hidden;
}

.num {
    color: $text-secondary;
}
