@use "../../../../styles";

.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
}

.item {
    @include styles.size(180px, 64px);
    width: 180px;
    border-radius: 12px;
    background-color: styles.$bg-secondary;
    padding: 0 12px;
}

.name {
    @include styles.ellipsis;
    @include styles.text-button;
}

.pagination {
    border-radius: 16px;
    background-color: styles.$bg-secondary;
    margin-top: 8px;
    overflow: hidden;
}
