@use '../../../../styles';

@layer components {
    .content {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .title {
        @include heading_l;
    }

    .body {
        @include text_m;
    }
}
