@use '../../../../styles';

@layer components {
    .confirmation {
        .confirmation__title {
            text-align: center;
        }

        .confirmation__body {
            @include styles.text-primary-regular;
            text-align: center;
            margin-top: 12px;
        }
    }
}
