{
    "extends": [
        "@broxus"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "class-methods-use-this": "off",
        "max-classes-per-file": "off",
        "sort-keys": "off",
        "no-case-declarations": "off",
        "no-continue": "off",
        "no-await-in-loop": "off",
        "no-restricted-syntax": "off",
        "no-plusplus": "off",
        "no-param-reassign": ["error", { "props": false }],
        "no-restricted-globals": "off",
        "react/state-in-constructor": "off",
        "react/jsx-uses-react": "off",
        "react/react-in-jsx-scope": "off",
        "react/jsx-one-expression-per-line": "off",
        "@typescript-eslint/no-use-before-define": "off",
        "@typescript-eslint/no-shadow": "off",
        "jsx-a11y/anchor-is-valid": "off"
    }
}
