@use "../../../../styles";

@layer components {
    .error-message {
        @include styles.text-add-regular;
        display: block;
        width: 100%;
        color: styles.$red;

        a {
            @include styles.text-add-regular;
            color: styles.$text-primary;
        }

        &:first-child {
            margin-top: 0;
        }
    }
}
