@use "../../../../styles";

@layer components {
    .error-message {
        @include text_s;
        display: block;
        width: 100%;
        color: $text-input-helper-error;

        &.warning {
            color: $badge-warning-text;
        }

        a {
            @include text_s;
            color: inherit;
            text-decoration: underline;
        }
    }
}
