.enter-password {
    .enter-password__form {
        .enter-password__form-title {
            margin-bottom: 28px;
        }

        .enter-password__form-ledger {
            padding-right: 26px;
        }

        .enter-password__form-switch {
            margin-top: 8px;
        }
    }
}
