@use "../../../../styles";

.details {
    padding: 0 16px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 8px;
    height: 60px;
    overflow: hidden;
}

.controls {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 6px;
    margin-top: 16px;
}

.label {
    @include styles.text-add-bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 80px;
    cursor: pointer;
    user-select: none;

    &._alert {
        position: relative;

        &::before {
            @include styles.size(16px);
            content: '';
            position: absolute;
            top: 0;
            right: 12px;
            border-radius: 8px;
            background-color: styles.$text-yellow;
            z-index: 1;
        }
    }
}

.settings {
    box-shadow: none;
}
