@use "../../../../styles";

.account-details {
    background-color: #060c32;
    box-sizing: border-box;
    padding: 16px 20px;

    .account-details__top-panel {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    .account-details__notification-bell {
        cursor: pointer;

        > img {
            display: block;
        }
    }

    .account-details__controls {
        justify-content: center;
        gap: 0;

        .account-details__controls-label {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;
            width: 80px;
            color: #C5E4F3;
            font-size: 11px;
            line-height: 16px;
            font-weight: 500;
            letter-spacing: 0.8px;
            cursor: pointer;
            user-select: none;

            &._alert {
                position: relative;

                &::before {
                    @include styles.size(16px);
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 12px;
                    border-radius: 8px;
                    background-color: styles.$warning;
                    border: 2px solid #060C32;
                    z-index: 1;
                }
            }
        }

        .account-details__controls-btn {
            padding: 0;
            width: 56px;
            height: 56px;
            border-radius: 50%;
        }
    }
}
