@use "../../../../styles";

.title {
    @include styles.text-accent-bold;
    padding: 8px 16px;
    border-bottom: 1px solid styles.$stroke-secondary;
}

.dens-item {
    @include styles.size(100%, 40px);
    @include styles.button-reset;
    @include styles.text-primary-regular;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 0 16px;
    color: styles.$blue;
    border-top: 1px solid styles.$stroke-secondary;

    > svg {
        @include styles.size(20px);
        flex: 0 0 auto;
    }
}

.copy {
    @include styles.button-reset;
    display: flex;
    align-items: center;
    gap: 16px;

    .copy-link {
        @include styles.text-add-bold;
        flex: 1 1 0;
        word-break: break-all;
        text-align: left;
        color: styles.$text-primary;
    }

    .copy-btn {
        flex: 0 0 auto;
        color: styles.$text-primary;
    }
}
