@use "../../../../styles";

.title {
    @include styles.text-accent-bold;
    padding: 8px 16px;
}

.dens-item {
    @include styles.size(100%, 40px);
    @include styles.button-reset;
    @include styles.text-primary-regular;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 0 16px;
    color: styles.$blue;
    border-top: 1px solid styles.$stroke-secondary;

    > svg {
        @include styles.size(20px);
        flex: 0 0 auto;
    }
}

.copy {
    @include styles.button-reset;
    display: flex;
    align-items: center;
    gap: 16px;

    .copy-link {
        @include styles.text-add-bold;
        flex: 1 1 0;
        word-break: break-all;
        text-align: left;
        color: styles.$blue;
    }

    .copy-btn {
        flex: 0 0 auto;
        color: styles.$blue;
    }
}

.custodian {
    @include styles.size(100%, 60px);
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 8px 0 16px;
    border-top: 1px solid styles.$stroke-secondary;

    .wrap {
        flex: 1 1 0;
        display: flex;
        flex-direction: column;
        gap: 4px;
        overflow: hidden;
    }

    .custodian-name {
        @include styles.ellipsis;
        @include styles.text-primary-regular;
        color: styles.$text-primary;
    }

    .custodian-key {
        @include styles.ellipsis;
        @include styles.text-add-regular;
        color: styles.$text-secondary;
    }

    .custodian-rename {
        flex: 0 0 auto;
        color: styles.$text-secondary;
    }

}
