@use "../../../../styles";

.title {
    @include heading_s;
}

.list {
    padding: 4px;
}

.dens-item {
    @include styles.size(100%, 40px);
    @include styles.button-reset;
    @include text_m;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 0 12px;
    color: $text-primary;
    transition: $trans-fast;
    border-radius: 8px;

    > svg {
        flex: 0 0 auto;
    }

    &:hover {
        background: $bg-layer-2;
    }
}

.copy {
    @include styles.button-reset;
    @include focus;
    display: flex;
    align-items: center;
    gap: 16px;

    .copy-link {
        flex: 1 1 0;
        word-break: break-all;
        text-align: left;
        color: $text-primary;
    }

    .copy-btn {
        flex: 0 0 auto;
        color: $text-primary;
    }
}
