@use '../../../../styles';

@layer components {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .label {
        @include label_s;
        color: $text-secondary;
    }

    .content {
        @include heading_s;
        color: $text-primary;
    }
}
