@use "../../../../styles";

.label {
    @include styles.text-code-bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.code {
    @include styles.text-code-regular;
}
