.account {
    box-sizing: border-box;
    padding: 16px 16px 24px;
    min-height: 100%;
    background-size: 100%;
    background-attachment: fixed;
}


.account-custom {
    background: url(@app/popup/assets/img/account/custom.png) center 0 no-repeat;
}

.account-venom {
    background: url(@app/popup/assets/img/account/venom.png) center 0 no-repeat;
}

.account-everscale {
    background: url(@app/popup/assets/img/account/everscale.png) center 0 no-repeat;
}

.account-tycho {
    background: url(@app/popup/assets/img/account/tycho.png) center 0 no-repeat;
}
