.account {
    box-sizing: border-box;
    padding: 16px 16px 24px;
    min-height: 100%;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center 0;
}


.account-custom {
    background-image: url(@app/popup/assets/img/account/custom.png);
}

.account-venom {
    background-image: url(@app/popup/assets/img/account/venom.png);
}

.account-everscale {
    background-image: url(@app/popup/assets/img/account/everscale.png);
}

.account-tycho {
    background-image: url(@app/popup/assets/img/account/tycho.png);
}

.account-ton {
    background-image: url(@app/popup/assets/img/account/ton.png);
}
