.account {
    box-sizing: border-box;
    padding: 16px 16px 24px;
    min-height: 100%;
    background: url(@app/popup/assets/img/account-cover.png) center -25px no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
