@use '../../../../styles';

@layer components {
    .amount {
        @include styles.font-inherit;
        flex: 0 1 auto;
        max-width: 100%;
        display: inline-flex;
        align-items: center;
        overflow: hidden;
    }

    .value {
        @include styles.ellipsis;
        @include styles.font-inherit;
        flex: 0 1 auto;
    }

    .currency {
        @include styles.font-inherit;
        flex: 0 0 auto;
    }

    .icon {
        @include styles.size(20px);
        flex: 0 0 auto;
        margin-right: 8px;

        img, svg {
            @include styles.size(100%);
            display: block;
        }
    }
}
