@use "../../../../../../styles";

.assetsList {
    background: $bg-layer-1;
    border-radius: 12px;
    padding: 4px;
    margin: 0 0 24px;
}

.footer {
    @include text_m;
    color: $text-secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.btn {
    @include styles.button-reset;
    color: $text-primary;
    font-weight: 500;
}
