@use '../../../../../../styles';

.card {
    @include styles.size(328px, 188px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 16px 16px 0;

    .info-row {
        display: flex;
        align-items: center;
        gap: 12px;
        overflow: hidden;
    }

    .info-name {
        @include styles.text-button;
        @include styles.ellipsis;
        flex: 1 1 0;
    }

    .info-menu {
        flex: 0 0 auto;
    }

    .info-wallet {
        display: flex;
        align-items: center;
        gap: 4px;

        .info-wallet-icon {
            @include styles.size(20px);
            color: styles.$text-secondary;
        }

        .info-wallet-value {
            @include styles.text-primary-regular;
            color: styles.$text-secondary;
        }
    }
}

.balance {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 0 16px;
    overflow: hidden;

    .balance-value {
        @include styles.text-h1;
        @include styles.ellipsis;
        flex: 0 1 auto;
    }

    .balance-label {
        @include styles.text-secondary-bold;
        flex: 0 0 auto;
    }
}

.evers {
    @include styles.text-add-regular;
    display: flex;
    justify-content: center;
    color: styles.$text-secondary;
    padding: 0 16px;
    margin-top: 8px;
}

.dens {
    @include styles.button-reset;
    @include styles.text-add-regular;
    @include styles.ellipsis;
    color: styles.$blue;
    text-align: left;
    max-width: 144px;
}

.address {
    flex: 0 0 auto;
    padding: 8px 16px 16px;

    .address-btn {
        @include styles.button-reset;
        @include styles.text-add-regular;
        display: block;
        color: styles.$blue;
    }
}
