@use '../../../../../../styles';

.account-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: styles.$bg-secondary;
    box-shadow: styles.$shadow-secondary;

    border-radius: 24px;
    height: 198px;
    max-width: 328px;

    .account-card__info {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding: 16px 16px 0;

        .account-card__info-row {
            display: flex;
            align-items: center;
            gap: 12px;
            overflow: hidden;
        }

        .account-card__info-name {
            @include styles.text-button;
            @include styles.ellipsis;
        }

        .account-card__info-btn {
            @include styles.button-reset;
            color: styles.$text-secondary;
            margin-left: auto;
        }

        .account-card__info-wallet {
            display: flex;
            align-items: center;
            gap: 4px;

            .account-card__info-wallet-icon {
                @include styles.size(14px);
                color: styles.$text-secondary;
            }

            .account-card__info-wallet-value {
                @include styles.text-add-regular;
                color: styles.$text-secondary;
            }
        }
    }

    .account-card__balance {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        padding: 0 16px;
        overflow: hidden;

        .account-card__balance-value {
            @include styles.text-h1;
            @include styles.ellipsis;
            flex: 0 1 auto;
        }

        .account-card__balance-label {
            @include styles.text-secondary-bold;
            flex: 0 0 auto;
        }
    }

    .account-card__addresses {
        display: flex;
        flex: 0 0 auto;
        border-top: 1px solid styles.$stroke-secondary;
    }

    .account-card__address {
        flex: 1 1 0;
        display: grid;
        align-content: center;
        grid-template:
            "label . button" auto
            "value . button" auto
            / auto minmax(12px, 1fr) auto;
        row-gap: 4px;
        height: 60px;
        padding: 0 16px;

        &:not(:first-child) {
            border-left: 1px solid styles.$stroke-secondary;
        }

        .account-card__address-label {
            @include styles.text-add-regular;
            color: styles.$blue-secondary;
            grid-area: label;
        }

        .account-card__address-value {
            @include styles.text-add-bold;
            @include styles.ellipsis;
            color: styles.$blue;
            grid-area: value;
        }

        .account-card__address-btn {
            @include styles.button-reset;
            @include styles.size(20px);
            grid-area: button;
            align-self: center;
            color: styles.$blue;
        }
    }
}
