@use '../../../../styles';

.network-settings {
    .network-settings__list {
        margin-top: 16px;
    }

    .network-settings__list-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 72px;

        &:not(:first-child) {
            border-top: 1px solid styles.$neutral-850;
        }
    }

    .network-settings__list-item-btn {
        @include styles.button-reset;
        @include styles.text-button;
        @include styles.ellipsis;
        flex: 1 1 0;
        height: 100%;
        text-align: start;
    }

    .network-settings__list-item-icon {
        flex: 0 0 auto;
        color: styles.$text-secondary;
    }
}
