@use '../../../../styles';

.list {
    padding: 4px;
}

.item {
    @include styles.button-reset;
    @include label_m;
    color: $text-primary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    transition: background-color styles.$trans-fast;

    &:hover {
        background: $bg-layer-2;
    }
}

.network {
    display: flex;
    align-items: center;
    gap: 12px;
}

.name {
    @include styles.ellipsis;
    flex: 0 1 auto;
}

.icon {
    color: $text-secondary;
}
