@use "../../../../../../styles";

@layer components {
    .empty {
        @include label_m;
        color: $text-secondary;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 24px 0;
        gap: 6px;
    }
}
