@use "../../../../styles";

.approval--add-tip3-token {
    .approval--add-tip3-token__token-name {
        display: flex;
        flex-direction: row;
        align-items: center;
        word-break: normal;

        .root-token-icon {
            @include styles.size(24px);
            margin-right: 12px;

            .outdated-asset-badge::before {
                @include styles.size(8px);
                content: '';
                top: -8px;
                border-radius: 50%;
            }
        }

        .root-token-name {
            width: 100%;
            text-overflow: ellipsis;
        }
    }
}
