@use '../../../../styles';

@layer components {
    .input {
        @include styles.text-secondary-bold;
        font-weight: 500;
        display: inline-flex;
        align-items: center;
        width: 100%;
        border-radius: 16px;
        transition: border-color styles.$trans-fast;
        overflow: hidden;

        &._size-xs {
            gap: 4px;
            height: 40px;
            padding: 0 12px;
        }

        &._size-s {
            gap: 4px;
            height: 48px;
            padding: 0 12px;
        }

        &._size-m {
            gap: 8px;
            height: 56px;
            padding: 0 16px;
        }

        &._design-default {
            background-color: styles.$bg-secondary;
            border: 1px solid styles.$blue-secondary;

            &:hover {
                border-color: styles.$text-secondary;
            }

            &:focus-within {
                border-color: styles.$stroke-primary;
            }
        }

        &._design-gray {
            background-color: styles.$bg-secondary;
            border: 1px solid styles.$bg-quaternary;

            &:hover {
                border-color: styles.$bg-quaternary;
            }

            &:focus-within {
                border-color: styles.$bg-quaternary;
            }
        }

        &._has-suffix {
            padding-right: 4px;

            &._size-m {
                padding-right: 8px;
            }
        }

        .input__inner {
            @include styles.size(0, 100%);
            @include styles.font-inherit;
            flex: 1 1 0;
            color: styles.$text-primary;
            background-color: transparent;
            border: none;
            margin: 0;
            padding: 0;

            &::placeholder {
                @include styles.font-inherit;
                color: styles.$text-secondary;
            }

            /* Chrome, Safari, Edge, Opera */
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            /* Firefox */
            &[type='number'] {
                -moz-appearance: textfield;
            }

            &[type='search']::-webkit-search-cancel-button {
                display: none;
            }
        }

        .input__prefix,
        .input__suffix {
            flex: 0 0 auto;
            color: styles.$text-secondary;
        }

        .reset__reset {
            @include styles.button-reset;
            @include styles.size(40px);
            display: flex;
            align-items: center;
            justify-content: center;

            > svg {
                @include styles.size(20px);
                color: styles.$text-secondary;
            }
        }
    }
}
