@use '../../../../styles';

@layer components {
    .input {
        display: inline-flex;
        align-items: center;
        width: 100%;
        border-radius: 16px;
        transition: border-color styles.$trans-fast;
        overflow: hidden;

        &._size-s {
            gap: 4px;
            height: 48px;
            padding: 0 12px;
        }

        &._size-m {
            gap: 8px;
            height: 56px;
            padding: 0 16px;
        }

        &._design-default {
            background-color: styles.$bg-secondary;
            border: 1px solid transparent;
            box-shadow: styles.$shadow-secondary;

            &:hover {
                border-color: styles.$text-secondary;
            }

            &:focus-within {
                border-color: styles.$stroke-primary;
            }
        }

        &._design-gray {
            background-color: styles.$bg-app;
            border: 1px solid styles.$stroke-secondary;

            &:hover {
                border-color: styles.$stroke-secondary;
            }

            &:focus-within {
                border-color: styles.$stroke-secondary;
            }
        }

        .input__inner {
            @include styles.size(0, 100%);
            @include styles.text-primary-regular;
            flex: 1 1 0;
            color: styles.$text-primary;
            background-color: transparent;
            border: none;
            margin: 0;
            padding: 0;

            &::placeholder {
                @include styles.text-primary-regular;
                color: styles.$text-secondary;
            }

            /* Chrome, Safari, Edge, Opera */
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            /* Firefox */
            &[type='number'] {
                -moz-appearance: textfield;
            }

            &[type='search']::-webkit-search-cancel-button {
                display: none;
            }
        }

        .input__prefix,
        .input__suffix {
            flex: 0 0 auto;
            color: styles.$text-secondary;
        }
    }
}
