@use '../../../../styles';

.dropdown {
  position: absolute;
  background: styles.$windowBg;
  border: 1px solid styles.$modalBorder;
  box-shadow: 0 4px 19px rgba(#000, 0.25);
  border-radius: 2px;
  min-width: 200px;
  padding: 16px;

  &.dropdown-transition {
    &-enter {
      opacity: 0;
      transform: translateY(8px);
    }
    &-enter-active {
      opacity: 1;
      transform: translateY(0);
      transition: styles.$trans-fast;
      transition-property: opacity, transform;
    }
    &-exit{
      opacity: 1;
      transform: translateY(0);
    }
    &-exit-active {
      opacity: 0;
      transform: translateY(8px);
      transition: styles.$trans-fast;
      transition-property: opacity, transform;
    }
  }
}
