@use "../../../../styles";

.desc {
    @include heading_m;
}

.label {
    @include label_m;
    color: $text-primary;
    margin: 8px 0 12px;
}

.item {
    @include text_m;
    color: $text-primary;
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 8px;
    border: 1px solid $text-input-field-border;
    background: $text-input-field-bg;
    cursor: pointer;

    &:hover {
        border-radius: 8px;
        border-color: $text-input-field-border-hover;
    }

    &._valid {
        color: $text-primary;
        background-color: $button-accent-bg-enabled;
        border-color: $button-accent-bg-enabled;
    }

    &._invalid {
        color: $text-primary;
        background-color: $button-destructive-bg-enabled;
        border-color: $button-destructive-bg-enabled;
    }
}

.radio {
    @include styles.size(0);
    opacity: 0;
}
