@use "../../../../styles/mixins";
@use "../../../../styles/colors";

.container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 560px;
    min-height: 630px;
    padding-bottom: 32px;
    margin: 0 auto;
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

.title {
    @include display_m;
}

.text {
    @include text_l;
    max-width: 560px;
}

.seedList {
    counter-reset: num;
    column-count: 3;

    span {
        color: $text-secondary;
        margin-right: 6px;
    }

    li {
        @include text_m;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
        border-radius: 8px;
        padding: 10px 16px;
        color: $text-primary;
        background-color: $text-input-field-bg;
    }
}

.frameCopy {
    display: flex;
    justify-content: center;
    position: relative;
}

.copyConfirm {
    @include label_m;
    color: $badge-success-text;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 8px;
}
