@use "../../../../styles";

@layer components {
    .hint {
        @include styles.text-add-regular;
        display: block;
        width: 100%;
        color: styles.$text-contrast-text; // color?

        a {
            @include styles.text-add-regular;
            color: styles.$blue;
        }
    }
}
