@use "../../../../styles";

@layer components {
    .hint {
        @include text_s;
        display: block;
        width: 100%;
        color: $text-input-helper;

        a {
            @include text_s;
            color: inherit;
            text-decoration: underline;
        }
    }
}
