@use '../../../../styles';

.message {
    @include text_m;
    color: $text-secondary;
    margin: 8px 0 16px;
    text-align: center;
}

.item {
    height: 48px;
    padding: 0 12px;
    border-radius: 8px;

    &:hover {
        background: $bg-layer-2;
    }
}
