@use '../../../../styles';

.message {
    @include styles.text-secondary-regular;
    margin: 8px 0 12px;
}

.list {
    margin: 0 -16px;
}

.item {
    @include styles.size(100%, 56px);
    padding: 0 16px;

    &:not(:first-child) {
        border-top: 1px solid styles.$stroke-secondary;
    }
}
