@use '../../../../styles';

.container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 560px;
    min-height: 630px;
    padding-bottom: 16px;
    margin: 0 auto;
}

.header {
    text-align: center;
    margin-bottom: 24px;
}

.title {
    @include styles.text-h1;

}

.text {
    @include styles.text-primary-regular;
    max-width: 560px;
}

.show {
    .seedPhrase {
        opacity: 1;

        &:nth-child(2) {
            transition-delay: .2s;
        }

        &:nth-child(3) {
            transition-delay: .4s;
        }
    }
}

.blocked {
    user-select: none;
    pointer-events: none;
}

.hide {
    .seedPhrase {
        opacity: 0;
    }
}

.seedPhraseRow {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 12px;
    // color: styles.$text-primary;
}

.seedPhraseRow {
    &.shake {
        animation: shake 0.4s 1 linear;
    }
}

.seedPhraseItem {
    flex: 1 1 0;
    display: block;

    input {
        display: none;
    }

}

.seedPhraseItemCust {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid styles.$seed-btn-border;
    color: styles.$seed-btn-text;
    border-radius: 16px;
    text-align: center;
    cursor: pointer;
    height: 48px;
    transition: styles.$trans-fast;
    @include styles.text-button;

    .hide {
        opacity: 0;
        display: none;
    }

    .show {
        opacity: 1;
    }

    i {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    button {
        background: transparent;
        color: inherit;
    }

    svg {
        cursor: pointer;

        &:active {
            color: styles.$text-secondary;
        }
    }

    &:hover:not(.valid):not(.invalid) {
        color: styles.$seed-btn-hover-text;
        border: 1px solid styles.$seed-btn-hover-border;
    }

    &:active:not(.valid):not(.invalid) {
        color: styles.$seed-btn-text;
    }

    &.valid {
        border: 1px solid styles.$seed-btn-active-border;
        color: styles.$seed-btn-active-text;
        background-color: styles.$seed-btn-active-bg;
        cursor: default;
    }

    &.invalid {
        background-color: styles.$red;
        border-color: styles.$red;
        color: styles.$bg-secondary;
    }
}

.seedPhrase {
    margin-bottom: 32px;

    &:last-child {
        margin-bottom: 0;
    }
}


.seedPhraseName {
    @include styles.text-button;
    color: styles.$text-extra;
    text-align: center;
}
