@use "../../../../styles";

.ledger-connector-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 100%;

    > .ledger-connector {
        @include styles.size(360px, 600px);
        flex: 0 0 auto;
    }
}
