@use '../../../../styles';

@layer components {
    .card {
        overflow: hidden;

        &.secondary {
            background: styles.$bg-secondary;
        }

        &.tertiary {
            background: styles.$bg-tertiary;
        }

        &.layer-1 {
            background: $bg-layer-1;
        }

        &.layer-2 {
            background: $bg-layer-2;
        }

        &._size-xs {
            border-radius: 8px;
        }

        &._size-s {
            border-radius: 12px;
        }

        &._size-m {
            border-radius: 16px;
        }

        &._size-l {
            border-radius: 24px;
        }
    }
}
