@use "../../../../styles";

@layer components {
    .root {
        justify-content: center;

        .pages {
            flex-grow: 0;
        }
    }

    .page {
        @include styles.size(32px);
        @include styles.button-reset;
        @include label_s;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        color: $text-secondary;

        &._active {
            color: $text-primary;
        }

        &._hidden {
            opacity: 0;
            pointer-events: none;
        }
    }
}
