@use '../../../../styles';

.wrap {
    @include styles.text-primary-regular;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: center;
}

.text {
    @include styles.text-secondary-regular;
    max-width: 240px;
}
