@use '../../../../styles';

.content {
    @include styles.text-primary-regular;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: center;
}

.text {
    @include heading_l;
    max-width: 328px;
}
