@use "../../../../styles";

.all {
    @include styles.button-reset;
    @include label_m;
    color: $text-primary;
}

.footer {
    display: flex;
    gap: 12px;
    justify-content: center;


    button {
        max-width: 200px;
    }
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 16px;
    color: $text-secondary;
}

.empty {
    margin-top: 16px;
}

.list {
    margin: 16px -8px 0;
    overflow: auto;
    max-height: 364px;
}
