@use '../../../../styles';

@layer components {
    .suffix {
        @include styles.button-reset;
        @include styles.size(40px);
        display: flex;
        justify-content: center;
        align-items: center;

        > svg {
            @include styles.size(20px);
            color: styles.$text-secondary;
        }
    }
}
