@use '../../../../styles';

@layer components {
    .badge {
        @include styles.size(20px);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.2px;
        border-radius: 50%;

        &:empty {
            @include styles.size(8px);
        }

        &._type-info {
            background: styles.$primary-light;
            color: styles.$primary;
        }

        &._type-error {
            background: #e88d9d;
            color: styles.$error;
        }
    }
}
