@use "../../../../../../styles";

.token {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
    height: 64px;
    padding: 0 12px;
    cursor: pointer;
    user-select: none;
    border-radius: 12px;
    transition: 0.2s ease;

    &:hover {
        background: $bg-layer-2;
    }
}

.icon {
    @include styles.size(36px);
    flex: 0 0 auto;
}

.container {
    flex: 0 1 auto;
    overflow: hidden;
}

.name {
    @include styles.ellipsis;
    @include label_m;
    color: $text-primary;
}

.fullname {
    @include styles.ellipsis;
    @include text_s;
    color: $text-secondary;
    margin-top: 2px;
}

.switch {
    flex: 0 0 auto;
    margin-left: auto;
}
