@use '../../../../styles';

.change-password {

    .change-password__visibility-btn {
        @include styles.button-reset;
        display: block;

        > svg {
            display: block;
            width: 20px;
            height: 20px;
            color: styles.$neutral-600;
        }
    }

    .change-password__new-pwd:focus-within {
        .change-password__meter {
            opacity: 1;
        }
    }

    .change-password__row {
        display: flex;
        align-items: center;
        margin-top: 4px;
    }

    .change-password__meter {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        gap: 4px;
        margin-left: auto;
        opacity: 0;
        transition: opacity styles.$trans-fast;

        .change-password__meter-label {
            flex: 0 0 auto;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.2px;
            color: styles.$neutral-600;
        }

        .change-password__meter-indicator {
            flex: 0 0 auto;
            width: 28px;
            height: 4px;
            border-radius: 2px;
            border: 1px solid #c6c9cf;

            &._active {
                border: none;

                &:nth-child(2) {
                    background-color: styles.$error;
                }
                &:nth-child(3) {
                    background-color: styles.$warning;
                }
                &:nth-child(4) {
                    background-color: styles.$success;
                }
            }
        }
    }
}
