@use '../../../../styles';

.visibility {
    @include styles.button-reset;
    display: block;

    > svg {
        @include styles.size(20px);
        display: block;
        color: styles.$text-secondary;
    }
}

.input:focus-within {
    .meter {
        opacity: 1;
    }
}

.meter {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    gap: 4px;
    opacity: 0;
    transition: opacity styles.$trans-fast;

    .meter-label {
        @include styles.text-add-regular;
        flex: 0 0 auto;
        color: styles.$text-secondary;
    }

    .meter-indicator {
        @include styles.size(28px, 4px);
        flex: 0 0 auto;
        border-radius: 2px;
        border: 1px solid styles.$stroke-primary;

        &._active {
            border: none;

            &:nth-child(2) {
                background-color: styles.$red;
            }
            &:nth-child(3) {
                background-color: styles.$text-yellow;
            }
            &:nth-child(4) {
                background-color: styles.$green;
            }
        }
    }
}

.hint {
    @include styles.text-add-regular;
    color: styles.$text-secondary;
}
