@use '../../../../styles';

.meter {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: opacity styles.$trans-fast;

    .meter-label {
        @include styles.text-add-regular;
        flex: 0 0 auto;
        color: styles.$text-secondary;
        min-width: 48px;
    }

    .meter-indicator {
        @include styles.size(23px, 3px);
        flex: 0 0 auto;
        border-radius: 2px;
        background-color: styles.$text-secondary;

        &._active {
            border: none;

            &:nth-child(2) {
                background-color: styles.$red;
            }
            &:nth-child(3) {
                background-color: styles.$text-yellow;
            }
            &:nth-child(4) {
                background-color: styles.$green;
            }
        }
    }
}

.switch {
    > svg {
        display: inline-block;
        vertical-align: middle;

        &:hover {
            color: styles.$blue;
        }
    }
}
