@use '../../../../styles';

.user-assets {
    padding: 0 16px;
    background-color: #fff;

    .user-assets__tabs {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    &__transactions-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        //position: relative;

        z-index: -1; // to allow sticky tabs work
    }
}
