@use "../../../../styles";

.user-assets {
    border-radius: 24px;
    background-color: styles.$bg-secondary;
    padding: 16px 16px 0;
    margin-top: 20px;

    .user-assets__tabs {
        position: sticky;
        top: 8px;
        z-index: 1;
    }
}
