@use "../../../../styles";

.user-assets {
    padding: 0 16px;
    background-color: #fff;

    .user-assets__tabs {
        position: sticky;
        top: 0;
        z-index: 1;
        margin: 0 -16px;
    }
}
