@use "../../../../styles";

@layer components {
    .user-info {
        display: flex;
        align-items: center;
        gap: 8px;

        &._compact {
            text-align: center;

            .avatar {
                display: none;
            }
        }

        .avatar {
            flex: 0 0 auto;
        }

        .wrap {
            flex: 1 1 0;
            overflow: hidden;
        }

        .name {
            @include styles.ellipsis;
            @include styles.text-button;
            color: styles.$text-primary;
        }

        .address {
            @include styles.text-add-regular;
            color: styles.$text-secondary;
            display: flex;
            align-items: center;
            gap: 4px;
            margin-top: 2px;
        }
    }
}
