@use "../../../../styles";

@layer components {
    .user-info {
        display: flex;
        align-items: center;
        gap: 8px;

        .user-info__avatar {
            @include styles.size(40px);
            flex: 0 0 auto;
        }

        .user-info__content {
            flex: 1 1 0;
        }

        .user-info__name {
            @include styles.ellipsis;
            @include styles.text-button;
            color: styles.$text-primary;
        }

        .user-info__address {
            @include styles.text-add-regular;
            color: styles.$text-secondary;
            margin-top: 4px;
        }
    }
}
