.user-info {
    display: flex;
    align-items: center;
    gap: 16px;

    .user-info__avatar {
        flex: 0 0 auto;
    }

    .user-info__content {
        flex: 1 1 0;
    }

    .user-info__name {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: #000;
    }

    .user-info__address {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.75px;
        color: rgba(#000, .32);
    }
}
