@use '../../../../styles';

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.name {
    @include styles.text-h2;
    color: styles.$text-primary;
}

.description {
    @include styles.text-secondary-regular;
    color: styles.$text-contrast-text;
    margin-top: 12px;
}

.grid {
    margin-top: 20px;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.settings-container {
    width: 100%;
    height: 0;
    position: sticky;
    top: 0;
    z-index: 101;
}

.settings {
    position: absolute;
    top: -24px;
    left: 16px;
    color: styles.$text-secondary;
    transition: color styles.$trans-fast;

    &:hover {
        color: styles.$text-primary;
    }
}
