@use '../../../../styles';

.description {
    @include styles.text-primary-regular;
    margin-top: 16px;
}

.grid {
    margin-top: 20px;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}
