@use '../../../../styles';

.content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.current-seed {
    text-align: center;

    .label {
        @include styles.text-add-regular;
        color: styles.$text-secondary;
    }

    .name {
        @include styles.text-secondary-bold;
    }
}
