@use "../../../../styles";

.prefix {
    @include styles.text-add-regular;
    color: styles.$text-secondary;
    width: 16px;
}

.list {
    max-height: 96px;
}

.reset {
    @include styles.size(40px);
    @include styles.button-reset;
    display: flex;
    align-items: center;
    justify-content: center;
    color: styles.$text-secondary;

    > svg {
        @include styles.size(16px);
    }
}
