@use "../../../../../../styles";

.pane {
    padding: 16px;
    border: 1px solid $text-input-field-border;
    display: flex;
    gap: 16px;
    cursor: pointer;

    > svg {
        flex-shrink: 0;
    }

    &:hover {
        background: $bg-layer-3;
    }
}

.checkbox {
    height: 56px;
    padding: 0 16px;

    &:not(:first-child) {
        border-top: 1px solid styles.$stroke-secondary;
    }
}

.content {
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.box{
    display: flex;
    flex-direction: column;
}
.label{
    @include heading_m;
}
.description{
    @include text_m;
    color: $text-secondary;
}
