@use '../../../../styles';

@layer components {
    .page-loader {
        @include styles.size(100%);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 200;
        background-color: rgba(#fff, .6);
    }
}
