.item {
    @include button-reset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    color: $text-primary;
    width: 100%;
    text-align: left;
    cursor: default;
    transition: $trans-fast;

    &.active,
    &.clickable:hover {
        background: $bg-layer-3;
    }
    &.clickable {
        cursor: pointer;
    }
}

.lock {
    width: 16px;
    height: 16px;
    opacity: 0.48;
}

.main {
    display: flex;
    align-items: center;
    gap: 10px;
}


.title {
    @include label_m;
    margin: 0 0 2px;
}

.heading {
    @include heading_xs;
}

.info {
    @include text_s;
    color: $text-secondary;
}

.footer {
    margin-top: 0;
}

.content {
    padding-bottom: 0;
}

.number {
    opacity: 0.48;
}

.jdenticon {
    border-radius: 6px;
}

.account {
    padding: 6px 12px 6px 28px;
    position: relative;
}
.topDivider::before {
   content: '';
   width: 100%;
   position: absolute;
   top: 0;
   left: 48px;
   height: 1px;
   background: $divider;
}
.bottomDivider::after {
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 28px;
    height: 1px;
    background: $divider;
 }
.pkey {
    padding: 6px 12px 6px 20px;
}
