@use '../../../../styles';

@layer components {
    .switch {
        display: flex;
        align-items: center;
        height: 32px;
        cursor: pointer;

        &._disabled {
            cursor: not-allowed;
            opacity: .5;

            .switch__btn {
                cursor: not-allowed;
            }
        }

        &._checked {
            .switch__btn {
                background-color: styles.$stroke-contrast;

                .switch__btn-check {
                    transform: translate(20px, 0px);
                }
            }
        }

        &._label-before {
            .switch__btn {
                order: 1;
                margin-left: auto;
            }

            .switch__content {
                order: 0;
            }
        }

        &._label-after {
            .switch__btn {
                order: 0;
            }

            .switch__content {
                order: 1;
                margin-left: 8px;
            }
        }

        .switch__btn {
            @include styles.button-reset;
            @include styles.size(48px, 28px);
            position: relative;
            display: inline-block;
            border-radius: 42px;
            background-color: styles.$stroke-primary;
            transition: background-color styles.$trans-fast;

            .switch__btn-check {
                @include styles.size(20px);
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 4px;
                left: 4px;
                border-radius: 50%;
                background-color: styles.$bg-secondary;
                transform: translate(0px, 0px);
                transition: transform styles.$trans-fast;
            }
        }

        .switch__content {
            @include styles.text-button;
            color: styles.$text-primary;
        }
    }
}
