@use '../../../../styles';

.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    .empty-icon {
        @include styles.size(56px);
    }

    .empty-text {
        @include styles.text-primary-regular;
        color: styles.$text-secondary;
        text-align: center;
        max-width: 328px;
        margin-top: 12px;
    }
}

.empty-search {
    margin-top: 20px;
}

.list {
    margin: 4px -16px 0;
}

.item {
    @include styles.size(100%, 64px);
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 16px;

    &:not(:first-child) {
        border-top: 1px solid styles.$stroke-secondary;
    }

    .contact {
        flex: 0 1 auto;
    }

    .settings {
        flex: 0 0 auto;
        margin-left: auto;
    }
}
