@use '../../../../../../styles';

.panel {
    margin-top: 16px;
}

.date {
    @include styles.text-add-regular;
    color: styles.$text-secondary;
}

.copy {
    @include styles.button-reset;
    @include styles.text-primary-regular;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    color: styles.$blue;
    text-align: left;

    .icon {
        @include styles.size(20px);
        flex: 0 0 auto;
        margin-left: auto;
    }
}

.custodian {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    .statuses {
        display: flex;
        align-items: center;
        gap: 4px;
        margin-left: auto;
    }
}
