@use '../../../../styles';

@layer components {
    .rounded-icon {
        @include styles.size(40px);
        display: flex;
        align-items: center;
        justify-content: center;
        color: styles.$text-primary;
        background-color: styles.$bg-transparent;
        border-radius: 40px;
        overflow: hidden;
        flex: 0 0 auto;

        > svg {
            @include styles.size(20px);
        }
    }
}
