@use '../../../../styles';

.suffix {
    @include styles.button-reset;
    @include styles.text-secondary-bold;
    color: styles.$blue;
}

.asset {
    display: flex;
    align-items: center;
    gap: 4px;
    flex: 0 0 auto;
}

.icon {
    @include styles.size(16px);
    flex: 0 0 auto;
}

.balance {
    @include styles.text-add-regular;
    color: styles.$text-secondary;
    display: flex;
    overflow: hidden;
}
