@use '../../../../styles';

.message-amount-input {
    .input__inner {
        font-size: 24px;
    }

    .message-amount-input__token {
        display: flex;
        align-items: center;
        gap: 6px;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.3px;
        color: #000;
    }

    .root-token-icon {
        width: 24px;
        height: 24px;
    }

    .message-amount-input__extra {
        display: flex;
        align-items: center;

        .extra__price {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.1px;
            color: styles.$neutral-400;
        }

        .extra__btn {
            @include styles.button-reset;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.1px;
            text-transform: uppercase;
            color: styles.$primary;
            background-color: styles.$primary-light;
            padding: 4px 8px;
            margin-left: auto;
        }

        .extra__balance {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.1px;
            color: styles.$neutral-400;
            margin-left: 8px;
        }
    }
}
