@use "../../../../styles";

.item {
    @include styles.size(100%, 60px);
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 8px 0 12px;
    transition: $trans-fast;
    border-radius: 8px;

    &:hover {
        background: $bg-layer-2;
    }
}

.wrap {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow: hidden;
}

.rename {
    flex: 0 0 auto;
    color: $text-secondary;
    transition: $trans-fast;

    &:hover {
        color: $text-primary;
    }
}

.name {
    @include styles.ellipsis;
    @include label_m;
    color: styles.$text-primary;
}

.key {
    @include styles.ellipsis;
    @include text_s;
    color: styles.$text-secondary;
}
