@use '../../../../styles';

.pane {
    border-radius: 12px;
    background-color: styles.$bg-secondary;
    box-shadow: styles.$shadow-secondary;
    margin-top: 16px;
    overflow: hidden;
}

.user {
    padding: 16px;
    border-bottom: 1px solid styles.$stroke-secondary;
}
