@use '../../../../styles';

.approval {
    .approval__top-panel {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-top: 20px;

        .approval__top-panel-network {
            align-items: center;
            justify-content: space-between;
            display: flex;
            padding-bottom: 16px;
            border-bottom: 1px solid #ebedee;
            margin-bottom: 24px;
            width: 100%;
        }

        .approval__top-panel-site {
            align-items: center;
            display: flex;
            color: #000;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.75px;
            margin-bottom: 20px;
            width: 100%;
        }

        .approval__top-panel-header {
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            color: #000;
            margin-bottom: 8px;
            align-self: start;
        }
    }

    .approval__user-info {

    }

    .approval__network {
        display: flex;
        justify-content: center;
        height: 30px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.75px;
        line-height: 20px;
        padding: 5px 10px;
    }

    &__spend-details {
        background: #f8f9f9;
        padding: 20px;

        &-title {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.15px;
            margin-bottom: 10px;
            color: #000;
        }

        &-param {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &:not(:last-child) {
                margin-bottom: 16px;
                border-bottom: 1px solid #ebedee;
            }

            &:last-child {
                > *:last-child {
                    margin-bottom: 0;
                }
            }

            &-desc {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.75px;
                margin-bottom: 4px;
                color: #7d8b92;

                &.with-selector {
                    position: relative;
                }
            }

            &-value {
                color: #000;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.75px;
                margin-bottom: 16px;
                word-break: break-all;
            }

            &-notification {
                padding: 12px;
                color: #000;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.75px;
                margin-bottom: 16px;
                border-radius: 2px;

                &--error {
                    background: rgba(204, 0, 34, 0.1);
                    color: #CC0022;
                }

                &--warning {
                    background: rgba(230, 172, 0, 0.1);
                    color: #E6AC00;
                }

                a:hover {
                    text-decoration: underline;
                }
            }

            &-data {
                font-family: 'PT Mono';
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 20px;
                letter-spacing: 0.75px;
                color: #000;
                word-break: break-all;

                &:last-child {
                    margin-bottom: 0;
                }

                &__method {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 8px;
                }
            }
        }
    }

    &__origin-source {
        align-items: center;
        display: flex;
        margin-bottom: 20px;
        width: 100%;

        &-value {
            color: #7d8b92;
            font-size: 16px;
            font-weight: normal;
            line-height: 20px;
            padding: 0 16px;
        }
    }

    &__address {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.16);
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.75px;
        color: #fff;
        margin-bottom: 16px;
        padding-bottom: 18px;
        width: 100%;

        &-entry {
            display: flex;
            align-items: center;
            padding: 0 12px;
            white-space: nowrap;
        }
    }

    &__details {
        padding: 0 20px 20px;

        &__panel {
            display: flex;
            border-bottom: 1px solid #ebedee;
            margin-bottom: 20px;

            &__tab {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                color: styles.$grey;
                cursor: pointer;
                line-height: 20px;
                text-align: center;
                letter-spacing: 0.25px;
                padding: 16px 24px;
                width: 50%;

                &._active {
                    color: styles.$primary;
                    border-bottom: 2px solid styles.$primary;
                    margin-bottom: -1px;
                }
            }
        }
    }
}
