@use '../../../../styles';

.container {
    min-height: unset;
}

.select {
    @include styles.button-reset;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .wrap {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .balance {
        flex: 0 0 auto;
        overflow: hidden;
    }

    .icon {
        @include styles.size(20px);
        flex: 0 0 auto;
        margin-right: 6px;
    }

    .name {
        flex: 0 1 auto;
        margin-right: 4px;
    }

    .chevron {
        color: $text-input-prefix-suffix;
        flex: 0 0 auto;
    }
}

.search {
    margin-bottom: 16px;
}

.balance {
    @include text_s;
    @include styles.ellipsis;
    color: $text-input-helper;
    margin-top: 4px;
}
