@use "../../../../styles";

.item {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 10px 12px;
    cursor: pointer;
    transition: styles.$trans-fast;
    border-radius: 8px;

    &:hover {
        background: $bg-layer-2;
    }
}

.icon {
    @include styles.size(32px);
    flex: 0 0 auto;
    display: block;
}

.wrap {
    flex: 1 1 0;
    overflow: hidden;
}

.amount {
    display: flex;
    justify-content: space-between;
    gap: 14px;
    margin-bottom: 2px;
}

.balance {
    @include styles.ellipsis;
    @include label_m;
    color: $text-primary;
}

.usd {
    @include styles.ellipsis;
    @include text_m;
    color: $text-primary;
}

.name {
    @include text_s;
    color: $text-secondary;
}

.check {
    @include styles.size(20px);
    flex: 0 0 auto;
    margin-left: auto;
}

.empty {
    width: 20px;
    height: 20px;
}
