@use "../../../../styles";

.title {
    @include heading_m;
}

.item {
    padding: 12px 16px;
}

.label {
    @include label_s;
    color: $text-input-label;
    margin: 0 0 6px;
}

.value,
.value > pre {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    font-weight: 400;
    font-family: Hack, monospace;
    color: $text-primary;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    word-wrap: break-word;
}
