@use '../../../../styles';

@layer components {
    .autocomplete {
        position: relative;

        .autocomplete__dropdown {
            // top: 100%;
            left: 0;
            right: 0;
            margin-top: 4px;
            background-color: styles.$bg-secondary;
            padding: 0;
            border-radius: 4px;
            box-shadow: 0 2px 1px -1px rgba(#000, .2),
                0 1px 1px 0px rgba(#000, .14),
                0 1px 3px 0px rgba(#000, .12);
            z-index: 100;
            position: absolute;
            height: 120px;
            border-radius: 12px;
            box-shadow: styles.$shadow-secondary;
            z-index: 120;
        }

        .autocomplete__list {
            max-height: 40vh;
            overscroll-behavior: contain;
            overflow: auto;
            list-style: none;
            height: 120px;
        }

        .autocomplete__list-item {
            @include styles.ellipsis;
            @include styles.text-button;
            padding: 12px;
            cursor: pointer;
            transition: color styles.$trans-fast;

            &:not(:first-child) {
                border-top: 1px solid styles.$stroke-secondary;
            }

            &:hover,
            &._focused {
                color: styles.$blue;
            }
        }
    }
}