@use '../../../../styles';

.networks {
    display: flex;
    align-items: center;
    gap: 8px;
    overflow: hidden;

    .networks__logo {
        @include styles.size(40px);
        flex: 0 0 auto;
    }

    .networks__network {
        display: flex;
        flex-direction: column;
        gap: 3px;
        flex: 0 1 auto;
        overflow: hidden;
    }

    .networks__network-title {
        @include styles.text-add-regular;
        color: styles.$text-secondary;
    }

    .networks__network-btn {
        @include styles.button-reset;
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        overflow: hidden;
        color: styles.$text-primary;

        > span {
            @include styles.ellipsis;
            flex: 0 1 auto;
        }

        svg {
            width: 16px;
            height: 16px;
        }
    }

    .networks__loader {
        @include styles.size(100%);
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(#fff, .7);
        z-index: 1000;
    }
}
