@use '../../../../styles';

.networks {
    display: flex;
    align-items: center;
    gap: 8px;
    overflow: hidden;

    .networks__logo {
        flex: 0 0 auto;
    }

    .networks__network {
        display: flex;
        flex-direction: column;
        gap: 2px;
        flex: 0 1 auto;
        overflow: hidden;
    }

    .networks__network-title {
        @include styles.text-add-regular;
        color: styles.$text-secondary;
    }

    .networks__network-btn {
        @include styles.button-reset;
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 16px;
        font-weight: 600;
        line-height: 1;
        letter-spacing: -0.64px;
        overflow: hidden;

        &::after {
            @include styles.size(8px, 6px);
            flex: 0 0 auto;
            content: '';
            display: block;
            background: url(@app/popup/assets/icons/chevron-small.svg) 0 0 no-repeat;
        }

        > span {
            @include styles.ellipsis;
            flex: 0 1 auto;
        }
    }

    .networks__loader {
        @include styles.size(100%);
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(#fff, .7);
        z-index: 1000;
    }
}
