@use "../../../../styles";

.checkbox {
    width: 100%;
    padding: 16px;
    border-radius: 8px;

    &:hover {
        background: $bg-layer-2;
    }
}

.wrap {
    display: flex;
    align-items: center;
    gap: 16px;
    overflow: hidden;
    @include label_m;
}

.name {
    @include styles.ellipsis;
}


.index {
    color: $text-secondary;
}
