@use '../../../../styles';

@layer components {
    .title {
        margin-bottom: 20px;
    }

    .menu {
        border-radius: 24px;
        background-color: styles.$bg-secondary;
        box-shadow: styles.$shadow-secondary;
    }

    .item {
        justify-content: space-between;

        &:not(:first-child) {
            border-top: 1px solid styles.$stroke-secondary;
        }

        &._danger {
            color: styles.$red;
        }
    }
}
