@use '../../../../styles';

.wrap {
    @include styles.text-primary-regular;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.loader {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
}

.text {
    @include styles.text-secondary-bold;
    color: styles.$text-secondary;
}

.panel {
    width: 100%;
}
