@use "../../../../styles";

.data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.label {
    @include styles.text-code-bold;
    color: styles.$text-primary;
}

.method {
    @include styles.text-code-regular;
    color: styles.$text-contrast-text;
    word-break: break-all;
}
