$primary: #2b63f1;
$primary-light: #ecf1fe;
$grey: #96a1a7;
$light-grey: #ebedee;
$error: #cc0022;
$success: #00ac47;
$blue-970: #f9faff;
$neutral-400: #8b909a;
$neutral-900: #f0f1f5;
//#7d8b92; // TODO: var
//#f8f9f9; // TODO: var
