@mixin ellipsis() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin noselect() {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

@mixin placeholder {
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        @content;
    }
    &::-moz-placeholder { /* Firefox 19+ */
        @content;
    }
    &:-ms-input-placeholder { /* IE 10+ */
        @content;
    }
    &:-moz-placeholder { /* Firefox 18- */
        @content;
    }
    &::placeholder {
        @content;
    }
}

@mixin button-reset {
    font-family: inherit;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    border: none;
    outline: 0;
    background: none;
    cursor: pointer;
}

@mixin font-inherit {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
}

@mixin mobile() {
    @media only screen and (max-width: 767px) {
        @content;
    }
}

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin text-h1() {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -1.6px;
}

@mixin text-h2() {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.336px;
}

@mixin text-primary-bold() {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.096px;
}

@mixin text-primary-regular() {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.096px;
}

@mixin text-secondary-bold() {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 0;
}

@mixin text-secondary-regular() {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0;
}

@mixin text-add-bold() {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 0;
}

@mixin text-add-regular() {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 0;
}

@mixin text-button() {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.096px;
}

@mixin text-accent-bold() {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.096px;
}

@mixin text-code-regular() {
    font-family: Hack, monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.32px;
}

@mixin text-code-bold() {
    font-family: Hack, monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.32px;
}
