/* Colors - Dark */
$global-colors-primary-p-10: rgba(17, 10, 51, 1);
$global-colors-primary-p-20: rgba(33, 20, 99, 1);
$global-colors-primary-p-30: rgba(49, 31, 144, 1);
$global-colors-primary-p-40: rgba(65, 42, 184, 1);
$global-colors-primary-p-50: rgba(82, 55, 218, 1);
$global-colors-primary-p-60: rgba(99, 71, 245, 1);
$global-colors-primary-p-65: rgba(116, 89, 255, 1);
$global-colors-primary-p-70: rgba(135, 111, 255, 1);
$global-colors-primary-p-75: rgba(157, 136, 255, 1);
$global-colors-primary-p-80: rgba(181, 164, 255, 1);
$global-colors-primary-p-85: rgba(207, 195, 255, 1);
$global-colors-primary-p-90: rgba(219, 211, 255, 1);
$global-colors-primary-p-95: rgba(232, 226, 255, 1);
$global-colors-primary-p-99: rgba(244, 241, 255, 1);
$global-colors-primary-p-100: rgba(255, 255, 255, 1);
$global-colors-neutral-n-10: rgba(13, 15, 32, 1);
$global-colors-neutral-n-12: rgba(22, 24, 41, 1);
$global-colors-neutral-n-15: rgba(30, 32, 58, 1);
$global-colors-neutral-n-20: rgba(39, 43, 79, 1);
$global-colors-neutral-n-30: rgba(53, 57, 96, 1);
$global-colors-neutral-n-35: rgba(68, 72, 114, 1);
$global-colors-neutral-n-40: rgba(85, 89, 132, 1);
$global-colors-neutral-n-50: rgba(104, 108, 149, 1);
$global-colors-neutral-n-60: rgba(125, 129, 167, 1);
$global-colors-neutral-n-65: rgba(148, 151, 184, 1);
$global-colors-neutral-n-70: rgba(172, 174, 202, 1);
$global-colors-neutral-n-80: rgba(198, 200, 220, 1);
$global-colors-neutral-n-90: rgba(225, 226, 237, 1);
$global-colors-neutral-n-95: rgba(240, 241, 246, 1);
$global-colors-neutral-n-99: rgba(247, 248, 251, 1);
$global-colors-neutral-n-100: rgba(255, 255, 255, 1);
$global-colors-error-e-0: rgba(5, 1, 1, 1);
$global-colors-error-e-10: rgba(33, 10, 6, 1);
$global-colors-error-e-15: rgba(88, 27, 16, 1);
$global-colors-error-e-20: rgba(88, 27, 16, 1);
$global-colors-error-e-30: rgba(116, 38, 21, 1);
$global-colors-error-e-35: rgba(144, 51, 29, 1);
$global-colors-error-e-40: rgba(172, 67, 40, 1);
$global-colors-error-e-50: rgba(199, 87, 55, 1);
$global-colors-error-e-60: rgba(227, 112, 76, 1);
$global-colors-error-e-70: rgba(255, 143, 105, 1);
$global-colors-error-e-80: rgba(255, 174, 150, 1);
$global-colors-error-e-85: rgba(255, 192, 177, 1);
$global-colors-error-e-90: rgba(255, 211, 203, 1);
$global-colors-error-e-95: rgba(255, 232, 229, 1);
$global-colors-error-e-100: rgba(255, 255, 255, 1);
$global-colors-success-s-5: rgba(8, 25, 14, 1);
$global-colors-success-s-10: rgba(15, 48, 25, 1);
$global-colors-success-s-20: rgba(23, 71, 37, 1);
$global-colors-success-s-25: rgba(32, 94, 49, 1);
$global-colors-success-s-30: rgba(44, 117, 62, 1);
$global-colors-success-s-40: rgba(57, 140, 77, 1);
$global-colors-success-s-45: rgba(74, 163, 94, 1);
$global-colors-success-s-55: rgba(96, 185, 114, 1);
$global-colors-success-s-65: rgba(123, 208, 139, 1);
$global-colors-success-s-75: rgba(157, 231, 169, 1);
$global-colors-success-s-85: rgba(190, 243, 194, 1);
$global-colors-success-s-90: rgba(206, 246, 206, 1);
$global-colors-success-s-95: rgba(223, 249, 222, 1);
$global-colors-success-s-99: rgba(240, 252, 238, 1);
$global-colors-success-s-100: rgba(255, 255, 255, 1);
$global-colors-warning-w-10: rgba(51, 44, 31, 1);
$global-colors-warning-w-20: rgba(76, 66, 43, 1);
$global-colors-warning-w-30: rgba(102, 87, 55, 1);
$global-colors-warning-w-40: rgba(127, 109, 65, 1);
$global-colors-warning-w-50: rgba(153, 130, 75, 1);
$global-colors-warning-w-60: rgba(178, 152, 84, 1);
$global-colors-warning-w-65: rgba(229, 196, 105, 1);
$global-colors-warning-w-70: rgba(255, 218, 118, 1);
$global-colors-warning-w-75: rgba(255, 227, 147, 1);
$global-colors-warning-w-80: rgba(255, 227, 147, 1);
$global-colors-warning-w-85: rgba(255, 238, 179, 1);
$global-colors-warning-w-90: rgba(255, 241, 199, 1);
$global-colors-warning-w-95: rgba(255, 245, 218, 1);
$global-colors-warning-w-99: rgba(255, 249, 237, 1);
$global-colors-warning-w-100: rgba(255, 255, 255, 1);
$global-colors-monochrome-m-9: rgba(23, 23, 23, 1);
$global-colors-monochrome-m-10: rgba(26, 26, 26, 1);
$global-colors-monochrome-m-12: rgba(31, 31, 31, 1);
$global-colors-monochrome-m-15: rgba(38, 38, 38, 1);
$global-colors-monochrome-m-20: rgba(47, 47, 47, 1);
$global-colors-monochrome-m-25: rgba(60, 60, 60, 1);
$global-colors-monochrome-m-30: rgba(76, 76, 76, 1);
$global-colors-monochrome-m-40: rgba(96, 96, 96, 1);
$global-colors-monochrome-m-50: rgba(121, 121, 121, 1);
$global-colors-monochrome-m-60: rgba(150, 150, 150, 1);
$global-colors-monochrome-m-70: rgba(183, 183, 183, 1);
$global-colors-monochrome-m-80: rgba(201, 201, 201, 1);
$global-colors-monochrome-m-85: rgba(219, 219, 219, 1);
$global-colors-monochrome-m-90: rgba(237, 237, 237, 1);
$global-colors-monochrome-m-100: rgba(255, 255, 255, 1);
$global-colors-transparency-t-8: rgba(255, 255, 255, 0.07999999821186066);
$global-colors-transparency-t-12: rgba(255, 255, 255, 0.11999999731779099);
$global-colors-transparency-t-16: rgba(255, 255, 255, 0.1599999964237213);
$global-colors-transparency-t-24: rgba(255, 255, 255, 0.23999999463558197);
$global-colors-transparency-t-32: rgba(255, 255, 255, 0.3199999928474426);
$global-colors-transparency-t-40: rgba(255, 255, 255, 0.4000000059604645);
$global-colors-transparency-t-48: rgba(255, 255, 255, 0.47999998927116394);
$global-colors-transparency-t-64: rgba(255, 255, 255, 0.6399999856948853);
$global-colors-transparency-t-80: rgba(255, 255, 255, 0.800000011920929);
$account-selector-account-text: $global-colors-neutral-n-100;
$button-accent-text: $global-colors-neutral-n-100;
$button-accent-text-disabled: $global-colors-neutral-n-65;
$button-accent-bg-enabled: $global-colors-primary-p-60;
$button-accent-bg-hover: $global-colors-primary-p-65;
$button-accent-bg-disabled: $global-colors-primary-p-30;
$button-accent-border-active: $global-colors-primary-p-75;
$button-neutral-text: $global-colors-neutral-n-100;
$button-neutral-text-disabled: $global-colors-neutral-n-65;
$button-neutral-bg-enabled: $global-colors-neutral-n-30;
$button-neutral-bg-hover: $global-colors-neutral-n-35;
$button-neutral-bg-disabled: $global-colors-neutral-n-20;
$button-neutral-border-active: $global-colors-neutral-n-60;
$button-transparency-text: $global-colors-neutral-n-100;
$button-transparency-text-disabled: $global-colors-monochrome-m-60;
$button-transparency-bg: $global-colors-transparency-t-16;
$button-transparency-bg-hover: $global-colors-transparency-t-24;
$button-transparency-bg-disabled: $global-colors-transparency-t-8;
$button-transparency-border-active: $global-colors-monochrome-m-60;
$checkbox-border: $global-colors-neutral-n-60;
$checkbox-border-hover-pressed: $global-colors-neutral-n-70;
$checkbox-border-disabled: $global-colors-neutral-n-40;
$checkbox-bg: $global-colors-neutral-n-100;
$checkbox-bg-hover-pressed: $global-colors-neutral-n-100;
$checkbox-bg-disabled: $global-colors-neutral-n-60;
$checkbox-icon: $global-colors-neutral-n-10;
$badge-error-bg: $global-colors-error-e-15;
$badge-error-text: $global-colors-error-e-70;
$badge-warning-bg: $global-colors-warning-w-20;
$badge-warning-text: $global-colors-warning-w-65;
$badge-success-bg: $global-colors-success-s-20;
$badge-success-text: $global-colors-success-s-65;
$badge-neutral-bg: $global-colors-neutral-n-30;
$badge-neutral-text: $global-colors-neutral-n-80;
$chip-error-bg: $global-colors-error-e-15;
$chip-error-text: $global-colors-error-e-70;
$chip-warning-bg: $global-colors-warning-w-20;
$chip-warning-text: $global-colors-warning-w-65;
$chip-success-bg: $global-colors-success-s-20;
$chip-success-text: $global-colors-success-s-65;
$chip-neutral-bg: $global-colors-neutral-n-30;
$chip-neutral-text: $global-colors-neutral-n-80;
$button-ghost-text: $global-colors-monochrome-m-100;
$button-ghost-text-hover: $global-colors-monochrome-m-70;
$button-ghost-text-disabled: $global-colors-monochrome-m-60;
$button-ghost-border-active: $global-colors-monochrome-m-60;
$button-destructive-text: $global-colors-neutral-n-100;
$button-destructive-text-disabled: $global-colors-error-e-70;
$button-destructive-bg-enabled: $global-colors-error-e-40;
$button-destructive-bg-hover: $global-colors-error-e-30;
$button-destructive-bg-disabled: $global-colors-error-e-30;
$button-destructive-border-active: $global-colors-error-e-80;
$radio-border: $global-colors-neutral-n-60;
$radio-border-selected: $global-colors-neutral-n-100;
$radio-border-hover-pressed: $global-colors-neutral-n-70;
$radio-border-disabled: $global-colors-neutral-n-40;
$radio-bg: $global-colors-neutral-n-100;
$radio-bg-hover-pressed: $global-colors-neutral-n-100;
$radio-bg-disabled: $global-colors-neutral-n-60;
$radio-icon: $global-colors-neutral-n-10;
$text-primary: $global-colors-neutral-n-100;
$text-secondary: $global-colors-transparency-t-48;
$bg: $global-colors-neutral-n-10;
$bg-layer-1: $global-colors-neutral-n-15;
$bg-layer-2: $global-colors-neutral-n-20;
$bg-overlay: rgba(0, 0, 0, 0.800000011920929);
$divider: $global-colors-neutral-n-30;
$text-input-placeholder: $global-colors-neutral-n-50;
$text-input-input-value: $global-colors-neutral-n-100;
$text-input-prefix-suffix: $global-colors-neutral-n-70;
$text-input-field-bg: $global-colors-neutral-n-20;
$text-input-field-bg-disabled: $global-colors-neutral-n-15;
$text-input-field-border: $global-colors-neutral-n-30;
$text-input-field-border-hover: $global-colors-neutral-n-40;
$text-input-field-border-active: $global-colors-primary-p-65;
$text-input-field-border-disabled: $global-colors-neutral-n-30;
$text-input-field-border-error: $global-colors-error-e-50;
$text-input-label: $global-colors-neutral-n-70;
$text-input-helper: $text-secondary;
$text-input-helper-error: $global-colors-error-e-50;
$segment-controller-bg: $bg-layer-1;
$segment-controller-item-selected-bg: $global-colors-neutral-n-20;
$segment-controller-item-text: $global-colors-neutral-n-60;
$segment-controller-item-text-secondary: $global-colors-neutral-n-40;
$segment-controller-item-text-disabled: $global-colors-neutral-n-40;
$segment-controller-item-text-secondary-disabled: $global-colors-neutral-n-40;
$segment-controller-item-text-selected: $global-colors-neutral-n-100;
$segment-controller-item-selected-text-secondary: $global-colors-neutral-n-60;

/* Tokens (deprecated) - Dark */
$color-core-primary_a: $global-colors-neutral-n-100;
$color-core-primary_b: $global-colors-neutral-n-10;
$color-core-accent: $global-colors-primary-p-60;
$color-core-negative: $global-colors-error-e-70;
$color-core-warning: $global-colors-warning-w-70;
$color-core-positive: $global-colors-success-s-75;
$color-semantic-background-background_0: $global-colors-neutral-n-10;
$color-semantic-background-background_1: $global-colors-neutral-n-15;
$color-semantic-background-background_2: $global-colors-neutral-n-30;
$color-semantic-background-background_3: $global-colors-neutral-n-35;
$color-semantic-background-background_accent: $global-colors-primary-p-60;
$color-semantic-content-content_0: $global-colors-neutral-n-100;
$color-semantic-content-content_1: $global-colors-neutral-n-70;
$color-semantic-content-content_2: $global-colors-neutral-n-65;
$color-semantic-content-content_3: $global-colors-neutral-n-60;
$color-semantic-border-border_0: $global-colors-neutral-n-35;
$color-semantic-border-border_1: $global-colors-neutral-n-40;
$color-semantic-border-border_2: $global-colors-neutral-n-50;
$color-semantic-border-border_alpha: rgba(255, 255, 255, 0.10000000149011612);
$color-extensions-background-background_overlay: rgba(0, 0, 0, 0.800000011920929);
$color-semantic-border-border_focus: rgba(172, 174, 202, 0.5);
$color-extensions-background-background_alpha: rgba(255, 255, 255, 0.10000000149011612);
$color-extensions-content-content_negative: $global-colors-error-e-70;
$color-extensions-border-border_negative: $global-colors-error-e-40;
$color-extensions-background-background_negative: $global-colors-error-e-30;
$color-extensions-content-content_negative_1: $global-colors-error-e-80;
$color-extensions-border-border_warning: $global-colors-warning-w-65;
$color-extensions-content-content_warning: $global-colors-warning-w-70;
$color-extensions-content-content_warning_1: $global-colors-warning-w-80;
$color-extensions-border-border_positive: $global-colors-success-s-40;
$color-extensions-content-content_positive: $global-colors-success-s-75;
$color-extensions-background-background_negative_alpha: rgba(116, 38, 21, 0.5);
$color-extensions-background-background_warning: $global-colors-warning-w-40;
$color-extensions-background-background_warning_alpha: rgba(127, 109, 65, 0.5);
$color-extensions-background-background_positive: $global-colors-success-s-25;
$color-extensions-background-background_positive_alpha: rgba(32, 94, 49, 0.5);
$spacing-0: 0px;
$spacing-2: 2px;
$spacing-4: 4px;
$spacing-8: 8px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-20: 20px;
$spacing-24: 24px;
$spacing-28: 28px;
$spacing-32: 32px;
$spacing-36: 36px;
$spacing-40: 40px;
$spacing-44: 44px;
$spacing-48: 48px;
$radius-8: 8px;
$radius-12: 12px;
$radius-16: 16px;
$radius-24: 24px;
$radius-32: 32px;
$radius-9999: 9999px;
$color-extensions-content-content_positive_1: $global-colors-success-s-65;

/* Typography - Extention */
$font-family-display: Inter;
$font-weight-display: Bold;
$font-weight-heading: Bold;
$font-weight-label: Medium;
$font-weight-text: Regular;
$font-size-display-m: 38px;
$font-size-display-s: 32px;
$font-size-heading-xl: 28px;
$font-size-heading-l: 22px;
$font-size-heading-m: 18px;
$font-size-heading-s: 16px;
$font-size-heading-xs: 14px;
$font-size-label-l: 16px;
$font-size-label-m: 14px;
$font-size-label-s: 12px;
$font-size-label-xs: 11px;
$font-family-heading: Inter;
$font-family-label: Inter;
$font-family-text: Inter;
$font-family-mono: Roboto Mono;
$line-height-display-m: 42px;
$line-height-display-s: 38px;
$line-height-heading-xl: 36px;
$line-height-heading-l: 30px;
$line-height-heading-m: 24px;
$line-height-heading-s: 22px;
$line-height-heading-xs: 20px;
$line-height-label-l: 22px;
$line-height-label-m: 20px;
$line-height-label-s: 16px;
$line-height-label-xs: 16px;
$line-height-text-l: 22px;
$line-height-text-m: 20px;
$line-height-text-s: 18px;
$line-height-text-xs: 16px;
$font-size-text-l: 16px;
$font-size-text-m: 14px;
$font-size-text-s: 12px;
$font-size-text-xs: 11px;
