@mixin heading_xl() {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.016em;
}

@mixin heading_l() {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.014em;
}

@mixin heading_m() {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.012em;
}

@mixin heading_s() {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.006em;
}

@mixin heading_xs() {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.001em;
}

@mixin text_l() {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.009em;
}

@mixin text_m() {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.006em;
}

@mixin text_s() {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.001em;
}

@mixin text_xs() {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0;
}

@mixin label_l() {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.009em;
}

@mixin label_m() {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.006em;
}

@mixin label_s() {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.001em;
}

@mixin label_xs() {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0;
}
