$cubic-nikitosa: cubic-bezier(.25, .1, .25, 1);
$trans-fast: .15s $cubic-nikitosa;
$trans: .3s $cubic-nikitosa;
$trans-semi-slow: .45s $cubic-nikitosa;
$trans-slow: .6s $cubic-nikitosa;

$shadow-main: 0 0 45px 0 rgba(133, 133, 133, .1);
$shadow-secondary: 0 0 33px 0 rgba(156, 156, 156, .26);
