@use "colors";
@use "mixins";

html {
    @include mixins.size(100%);
    overflow: hidden;

    &.popup-view {
        @include mixins.size(360px, 600px);
    }
}

*:not(.initial-scroll) {
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
    }
}

body {
    @include mixins.size(100%);
    @include mixins.text-primary-regular;
    font-family: 'Inter', sans-serif;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: colors.$bg-app;
    overscroll-behavior: none;

    &.bg-white {
        background-color: colors.$bg-secondary;
    }

    &.has-slider {
        overflow: hidden;
    }
}

@layer defaults {
    #root {
        min-height: 100%;
        min-width: 360px;
        width: 100%;
    }

    h1 {
        @include mixins.text-h1;
        color: colors.$text-primary;
    }

    h2 {
        @include mixins.text-h2;
        color: colors.$text-primary;
    }

    .noselect {
        user-select: none;
    }

    .loader-page {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background-color: colors.$bg-app;

        &__spinner {
            stroke: colors.$text-primary;
            width: 80px;
            height: 80px;
        }
    }

    .copy {
        cursor: copy;
    }

    img {
        -webkit-user-drag: none;
    }

    .__react_component_tooltip {
        white-space: nowrap !important;
    }

    a {
        @include mixins.font-inherit;
        text-decoration: none;
        color: colors.$blue;
        cursor: pointer;
    }
}
