@use '../../styles';

.accounts-management {
    position: relative;
    z-index: 1;
    background-color: #fff;

    &__page {
        display: flex;
        flex: 1;
        flex-direction: column;
        min-height: 100%;
    }

    &__content {
        padding-top: 4px;

        &-form-rows {
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            .input {
                margin-bottom: 0;
            }
        }

        &-comment {
            font-family: 'PT Root UI', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.75px;
            color: #7D8B92;

            a {
                cursor: pointer;
            }
        }
    }

    &__seed-columns {
        counter-reset: seed;
        display: flex;
        flex-direction: row;
        column-gap: 12px;
        row-gap: 12px;

        > * {
            width: 100%;
        }
    }

    &__seed-column {
        display: flex;
        flex-direction: column;

        > * {
            width: 100%;
        }
    }

    &__seed-input {
        counter-increment: seed;
        position: relative;
        margin-bottom: 20px;
        cursor: text;

        &:last-child {
            margin-bottom: 0;
        }

        &::before {
            content: counter(seed) ".";
            position: absolute;
            top: 14px;
            left: 20px;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.25px;
            color: #000;
            z-index: 2;
        }

        .autocomplete {
            .input {
                padding-left: 48px;
            }

            .autocomplete__dropdown {
                z-index: 120;
            }

            .autocomplete__list {
                max-height: 80px;
            }

            .autocomplete__list-item {
                padding-left: 48px;
            }
        }
    }

    .accounts-management__list-empty {
        font-size: 14px;
        padding: 24px 16px 16px;
        text-align: center;
        color: #7d8b92;
    }

    .accounts-management__type-list {
        .accounts-management__type-list-subtitle {
            margin-bottom: 8px;
        }

        .accounts-management__type-list-item {
            gap: 20px;
            padding: 0 20px;
            border: 1px solid #dde1e2;
            min-height: 66px;
            margin-bottom: 8px;

            &._checked {
                background-color: #f8f9f9;
                border: 1px solid styles.$primary;
            }

            .accounts-management__type-list-item-name {
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: .25px;
                color: #000;
            }

            .accounts-management__type-list-item-description {
                color: #919191;
                margin-top: 0.1em;
                font-size: 0.7rem;
                line-height: 0.9rem;
            }
        }
    }

    .accounts-management__header {
        display: flex;
        align-items: center;
        gap: 8px;

        .accounts-management__header-img {
            @include styles.size(24px);
            flex: 0 0 auto;
            color: styles.$primary;
        }

        .accounts-management__header-title {
            @include styles.ellipsis;
            flex: 0 1 auto;
            padding-right: 8px; // ¯\_(ツ)_/¯
        }
    }

    .accounts-management__search {
        margin-top: 16px;
    }

    .accounts-management__empty {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.25px;
        color: #4d4f55;
        margin-top: 28px;
    }

    .accounts-management__export-seed-warning {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
        color: styles.$neutral-400;
        margin-bottom: 16px;
    }

    .accounts-management__accounts {
        .acccounts-management-list__item-icon {
            opacity: 1;
        }
    }
}
