@use '../../../../styles';

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.text {
    @include text_m;
    color: $text-primary;
}

.pane {
    display: grid;
    grid-template:
        "user user" auto
        "qr address" auto
        / 102px 1fr;
    margin-top: 20px;
}

.status {
    display: flex;
    align-items: center;
    justify-content: center;
}

.address {
    @include text_m;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 16px;
    padding: 16px;
    border-radius: 12px;
    background: $bg-layer-2;
    word-break: break-all;
}

.label {
    @include styles.text-add-regular;
    color: styles.$blue-secondary;
}

.value {
    @include styles.button-reset;
    @include styles.text-add-bold;
    color: styles.$blue;
    text-align: left;
    word-break: break-all;
}

.qr {
    grid-area: qr;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    border-right: 1px solid styles.$stroke-secondary;
}

.user {
    grid-area: user;
    padding: 12px 16px 8px;
    border-bottom: 1px solid styles.$stroke-secondary;
}

.close {
    position: absolute;
    top: 16px;
    right: 16px;
}
