@use '../../../../styles';

.ledger-verify-address {
    .ledger-verify-address__loader {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 200;
        background-color: rgba(#fff, .6);
    }

    .ledger-verify-address__header {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: #000;
    }

    .ledger-verify-address__content {
        padding-bottom: 0;
    }

    .ledger-verify-address__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        margin: 12px 0 20px;
    }

    .ledger-verify-address__qr-code {
        margin: 0 -16px;
    }

    .ledger-verify-address__status {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        height: 84px;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;

        &._progress,
        &._connect {
            color: styles.$primary;
        }

        &._confirmed {
            color: styles.$success;
        }
    }
}

.ledger-verify-address__connector {
    height: auto;
    padding-top: 40px;
}
