.ledger-account-selector {
    .ledger-account-selector__content {
        position: relative;
    }

    &.sign-in {
        background: transparent;

        .header,
        .footer {
            background: transparent;
            box-shadow: none;
        }

        .button-group {
            flex-direction: column-reverse;
        }
    }
}

.ledger-account-selector__error-message {
    font-size: 14px;
    line-height: 1.5;
}
