@use "../../../../styles";

.content {
    padding-bottom: 0;
}

.text {
    @include text_m;
    color: $text-secondary;
}

.title {
    @include heading_m;
}

.item {
    display: flex;
    align-items: center;
    gap: 8px;
    overflow: hidden;
    padding: 10px 12px;

    .item-content {
        flex: 1 1 auto;
        overflow: hidden;
    }

    .item-name {
        @include styles.ellipsis;
        @include label_m;
        color: $text-primary;
    }

    .item-info {
        @include styles.ellipsis;
        @include text_s;
        color: $text-secondary;
        margin-top: 2px;

        &:empty {
            display: none;
        }
    }
}
