@use '../../../../styles';

@layer components {
    .chips {
        @include styles.text-add-regular;
        display: inline-flex;
        align-items: center;
        gap: 4px;
        height: 28px;
        border-radius: 8px;
        padding: 0 8px;

        &._type-default {
            color: styles.$text-secondary;
            background-color: styles.$bg-app;
        }

        &._type-success {
            color: styles.$green;
            background-color: styles.$bg-light-green;
        }

        &._type-warning {
            color: styles.$text-yellow;
            background-color: styles.$bg-light-orange;
        }

        &._type-error {
            color: styles.$text-orange;
            background-color: styles.$bg-light-red;
        }

        > svg, img {
            @include styles.size(14px);
        }
    }
}
