@use '../../../../styles';

@layer components {
    .chips {
        @include styles.text-add-regular;
        display: inline-flex;
        align-items: center;
        gap: 4px;
        height: 28px;
        border-radius: 8px;
        padding: 0 8px;

        &._type-default {
            color: styles.$text-primary;
            background-color: styles.$bg-transparent;
        }

        &._type-success {
            color: styles.$green-secondary;
            background-color: styles.$green;
        }

        &._type-warning {
            color: styles.$text-yellow;
            background-color: styles.$bg-yellow;
        }

        &._type-error {
            color: styles.$red;
            background-color: styles.$btn-danger;
        }

        > svg, img {
            @include styles.size(14px);
        }
    }
}
