@use '../../../../styles';

.wrap {
    @include styles.text-primary-regular;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: center;
}

.panel {
    margin-bottom: 20px;
}

.title {
    @include styles.text-secondary-bold;
    color: styles.$text-secondary;
}
