@use '../../../../styles';

.transaction-info {
    .transaction-info__content {
        padding-top: 0;
    }

    .transaction-info__param {
        padding: 12px 0;

        &._row {
            display: flex;
            align-items: center;
            gap: 16px;
            border-bottom: 1px solid rgba(#000, .1);

            .transaction-info__param-desc {
                font-size: 16px;
                line-height: 22px;
            }

            .transaction-info__param-value {
                font-weight: 500;
                margin-left: auto;
                margin-top: 0;
            }
        }

        .transaction-info__param-desc {
            display: block;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.1px;
            color: styles.$neutral-400;
        }

        .transaction-info__param-value {
            display: block;
            color: #000;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.75px;
            word-break: break-all;
            margin-top: 4px;

            &._amount {
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 0.15px;
            }

            &._copy {
                color: styles.$primary;
                cursor: copy;
            }
        }
    }

    .transaction-info__btn {
        margin-top: 28px;
    }

    .transaction-info__status {
        display: inline-block;
        border-radius: 2px;
        padding: 2px 8px;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.1px;
        color: styles.$success;
        background-color: #eff9ef;
    }
}
