@use '../../../../styles';

.root {
    margin: 0 -16px;
}

.item {
    @include styles.size(100%, 64px);
    @include styles.button-reset;
    @include styles.text-button;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 16px;
    color: styles.$text-primary;
    overflow: hidden;
    transition: background-color styles.$trans-fast;

    &:hover {
        background: styles.$bg-secondary;
    }

    &:not(:first-child) {
        border-top: 1px solid styles.$stroke-secondary;
    }

    > .arrow {
        @include styles.size(20px);
        color: styles.$text-secondary;
        flex: 0 0 auto;
        margin-left: auto;
    }
}
