@use '../../../../styles';

.nft-import {
    .nft-import__hint {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.25px;
        color: #000;
        margin-bottom: 20px;
    }
}
