@use '../../../../styles';

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 36px;
}

.address {
    @include text_m;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 16px;
    padding: 16px;
    border-radius: 12px;
    background: $bg-layer-2;
    word-break: break-all;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.den {
    width: 100%;
    padding: 12px 0;
    cursor: pointer;
    color: $text-primary;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-bottom: 1px solid $divider;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.hint {
    @include text_m;
    text-align: center;
    color: $text-secondary;
}
