@use '../../../../styles';

.pane {
    border-radius: 12px;
    background-color: styles.$bg-secondary;
    box-shadow: styles.$shadow-secondary;
    margin-top: 16px;
    overflow: hidden;
}

.qr {
    margin-top: 20px;
}

.footer {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: styles.$bg-light-blue;
    padding: 16px;
    border-radius: 12px 12px 0 0;

    .footer-text {
        @include styles.text-primary-bold;
    }

    .footer-btn {
        flex: 0 0 auto;
        width: auto;
    }
}

.dens-title {
    padding: 16px;
}

.dens-item {
    @include styles.button-reset;
    @include styles.text-add-bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
    padding: 16px;
    color: styles.$blue;
    border-top: 1px solid styles.$stroke-secondary;

    > svg {
        @include styles.size(20px);
        flex: 0 0 auto;
    }
}
