@use '../../../../styles';

.pane {
    display: grid;
    grid-template:
        "account account" auto
        "qr address" auto
        "qr dens" auto
        / auto 1fr;
    border-radius: 12px;
    background-color: styles.$bg-secondary;
    box-shadow: styles.$shadow-main;
    margin-top: 20px;
    overflow: hidden;
}

.footer {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: styles.$bg-light-blue;
    padding: 16px;
    border-radius: 12px 12px 0 0;

    .footer-text {
        @include styles.text-primary-bold;
    }

    .footer-btn {
        flex: 0 0 auto;
        width: auto;
    }
}

.section {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px 12px;

    &._address {
        grid-area: address;
    }

    &._dens {
        grid-area: dens;
        border-top: 1px solid styles.$stroke-secondary;
    }
}

.label {
    @include styles.text-add-regular;
    color: styles.$blue-secondary;
}

.value {
    @include styles.button-reset;
    @include styles.text-add-bold;
    color: styles.$blue;
    text-align: left;
    word-break: break-all;
}

.qr {
    grid-area: qr;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-right: 1px solid styles.$stroke-secondary;
}

.account {
    grid-area: account;
    padding: 12px 16px 8px;
    border-bottom: 1px solid styles.$stroke-secondary;
}
