@use '../../../../styles';

.pane {
    border-radius: 12px;
    background-color: styles.$bg-secondary;
    box-shadow: styles.$shadow-secondary;
    margin-top: 12px;
}

.item {
    @include styles.size(100%, 48px);
    padding: 0 16px;

    &:not(:first-child) {
        border-top: 1px solid styles.$stroke-secondary;
    }
}
