@use '../../../../../../styles';

.root {
    display: flex;
    align-items: center;
    gap: 12px;
}

.netSelect {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0 6px 0 4px;
}

.logoutIcon {
    width: 16px;
    height: 16px;
    color: $chip-error-text;
}

.content {
    border-radius: 10px;
    background: $button-transparency-bg;
    display: flex;
    flex-direction: column;
    gap: 6px;
    backdrop-filter: blur(70px);
    animation-duration: 0.15s;
    animation-name: open;
    animation-fill-mode: forwards;
    animation-timing-function: $cubic-nikitosa;
    min-width: 200px;
    margin-right: 24px;

    .list {
        padding: 4px;


        button {
            &:hover {
                background: $button-transparency-bg-hover;
            }
        }
    }

    .item {
        @include label_m;
        display: flex;
        align-items: center;
        width: 100%;
        background: transparent;
        padding: 0 8px;
        gap: 8px;
        height: 32px;
        transition: background-color $trans-fast;
        border-radius: 6px;
        cursor: pointer;
        color: styles.$text-contrast;
    }

    .btn {
        padding: 8px;
    }

    .logout {
        color: $chip-error-text;
        @include focus;
    }

    .version {
        @include text_s;
        color: $text-secondary;
        cursor: default;
    }
}


@keyframes open {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


