@use '../../../../styles';

@layer components {
    .seed-list {
        padding: 16px 16px 4px;
        background-color: styles.$blue-970;
        counter-reset: my-counter;
        list-style: none outside none;
        column-count: 2;

        .seed-list__item {
            counter-increment: my-counter;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.25px;
            color: #000;
            margin-bottom: 12px;
            white-space: nowrap;

            &::before {
                content: counter(my-counter) '. ';
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.25px;
                color: styles.$grey;
                width: 24px;
                display: inline-block;
            }
        }
    }
}
