@use '../../../../styles';

@layer components {
    .seed-list {
        counter-reset: my-counter;
        column-count: 2;
        gap: 8px;

        .item {
            @include styles.ellipsis;
            @include text_m;
            display: flex;
            align-items: center;
            gap: 4px;
            height: 40px;
            padding-left: 16px;
            counter-increment: my-counter;
            color: $text-primary;
            background-color: $text-input-field-bg;
            border: 1px solid $text-input-field-border;
            border-radius: 8px;
            margin: 0 0 8px;

            &::before {
                content: counter(my-counter)'.';
            }

            &::before {
                @include styles.text-add-regular;
                flex: 0 0 16px;
                color: styles.$text-secondary;
            }
        }
    }
}
