@use '../../../../styles';

.change-account {
    .change-account__title {
        margin-top: 20px;
    }

    .change-account__list {
        margin-top: 16px;

        [data-index="0"] > .change-account__item {
            border-top: none;
        }
    }

    .change-account__item {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        overflow: hidden;
        height: 72px;
        border-top: 1px solid styles.$stroke-secondary;

        .change-account__item-avatar {
            @include styles.size(40px);
            flex: 0 0 auto;
        }

        .change-account__item-content {
            flex: 1 1 0;
            overflow: hidden;
        }

        .change-account__item-name {
            @include styles.text-button;
            @include styles.ellipsis;
        }

        .change-account__item-address {
            @include styles.text-add-regular;
            @include styles.ellipsis;
            color: styles.$text-secondary;
            margin-top: 4px;
        }
    }
}
