@use '../../../../styles';

.title {
    margin-bottom: 16px;
}

.list {
    margin: 16px -16px 0;

    [data-index="0"] > .item {
        border-top: none;
    }
}

.item {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    overflow: hidden;
    height: 64px;
    padding: 0 16px;
    border-top: 1px solid styles.$stroke-secondary;

    &:hover {
        background-color: styles.$bg-tertiary;
    }

    .item-content {
        flex: 1 1 0;
        overflow: hidden;
    }

    .item-name {
        @include styles.text-button;
        @include styles.ellipsis;
    }

    .item-address {
        @include styles.text-add-regular;
        @include styles.ellipsis;
        color: styles.$text-secondary;
        margin-top: 4px;
    }
}
