@use "../../../../styles";

@layer components {
    .asset-icon {

        &._token {
            display: flex;
            flex-direction: column;
        }

        .outdated-asset-badge {
            position: relative;
            width: 100%;

            &::before {
                @include styles.size(26px, 16px);
                content: 'old';
                background: #cc0022;
                color: white;
                text-align: center;
                position: absolute;
                font-size: 12px;
                border-radius: 10px;
                right: 0;
                top: -16px;
                line-height: 16px;
            }
        }

        img, svg {
            @include styles.size(100%);
            display: block;
        }
    }
}
