@use '../../../../styles';

.nft-grid {
    &._layout-tile {
        .nft-grid__grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: 156px;
            gap: 16px;
        }
    }

    &._layout-row {
        .nft-grid__grid {
            display: flex;
            flex-direction: column;
            gap: 24px;

            > .nft-grid__grid-item {
                &:not(:first-child)::before {
                    @include styles.size(100%, 1px);
                    content: '';
                    position: absolute;
                    top: -12px;
                    left: 0;
                    background-color: styles.$neutral-800;
                }
            }
        }
    }

    .nft-grid__header {
        display: flex;
        align-items: center;
        margin-bottom: 24px;

        .nft-grid__header-title {
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.25px;
            color: #000;
        }

        .nft-grid__header-controls {
            display: flex;
            align-items: center;
            gap: 12px;
            margin-left: auto;
        }
    }

    .nft-grid__btn {
        @include styles.button-reset;
        color: styles.$neutral-600;

        &._active {
            color: styles.$primary;
        }
    }
}
