@use '../../../../styles';

.header {
    display: flex;
    align-items: center;
    height: 32px;
    margin-bottom: 24px;
}

.header-title {
    @include styles.ellipsis;
    @include heading_m;
}

.layoutControls {
    display: flex;
    align-items: center;
    height: 32px;
    border: 1px solid styles.$switcher-border;
    border-radius: 4px;
    background-color: transparent;
}

.header-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
}

.header-btn {
    @include styles.size(32px);
    @include styles.button-reset;
    display: flex;
    justify-content: center;
    align-items: center;
    color: styles.$switcher-text;
    background-color: transparent;
    border-radius: 4px;

    &._active {
        color: styles.$switcher-text-selected;
        background-color: styles.$switcher-selected;
    }

    > svg {
        @include styles.size(16px);
    }
}

.nft-grid {
    &._layout-tile {
        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: auto;
            gap: 8px;
        }

        .grid-item {
            border-radius: 12px;
        }
    }

    &._layout-row {
        .grid {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .grid-item {
            border-radius: 12px;
        }
    }

    &._compact {
        .header {
            height: 32px;
            margin-bottom: 12px;
        }

        .header-title {
            @include styles.text-accent-bold;
        }

        .header-controls {
            height: 32px;
            border-radius: 8px;
        }

        .header-btn {
            @include styles.size(24px);
            border-radius: 8px;

            > svg {
                @include styles.size(16px);
            }
        }
    }

    .grid-item {
        flex: 0 0 auto;
        overflow: hidden;
        cursor: pointer;
        box-shadow: styles.$shadow-main;
    }
}
