@use '../../../../styles';

.nft-collections {
    padding: 16px 0;
    user-select: none;

    .nft-collections__empty {
        padding: 16px 0;
        text-align: center;

        .nft-collections__empty-img {
            display: inline-block;
            width: 160px;
            height: 160px;
        }

        .nft-collections__empty-header {
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.1px;
            color: #000;
            margin-top: 20px;
        }

        .nft-collections__empty-text {
            font-size: 14px;
            line-height: 20px;
            color: #000;
            margin-top: 4px;
        }
    }

    .nft-collections__item {
        cursor: pointer;
    }

    .nft-collections__btn-group {
        margin-top: 28px;
    }

    .nft-collections__pending-count {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background: styles.$primary-light;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.2px;
    }
}
