@use '../../../../styles';

.collections {
    padding: 0;
}

.empty {
    text-align: center;

    .empty-img {
        @include styles.size(136px, 64px);
        display: inline-block;
    }

    .empty-header {
        @include heading_m;
        margin-top: 8px;
    }

    .empty-text {
        @include text_s;
        color: #ACAECA;
        margin-top: 4px;
    }
}

.btn-group {
    margin: 20px auto 0;
    width: max-content;
}
