@use '../../../../styles';

:host {
    --transaction-list-group-bg: transparent;
}

.item {
    padding: 4px 0;
}

.group {
    @include styles.text-secondary-bold;
    padding: 22px 0 6px;
    background-color: var(--transaction-list-group-bg);
}
