@use "../../../../styles/mixins";
@use "../../../../styles/colors";

.container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 630px;
    margin: 0 auto;
}

.header {
    text-align: center;
    margin-bottom: 16px;
}

.title {
    @include display_m;
    margin: 0 0 20px;
}

.text {
    @include text_l;
}

.ellipseOne {
    display: block;
    width: 10px;
    height: 10px;
    // background-color: styles.$primary;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    left: 7px;
    transform: translate(-50%, -50%);
    transform-origin: 740px;
}

.ellipseTwo {
    display: block;
    width: 10px;
    height: 10px;
    // background-color: styles.$primary;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    left: 7px;
    transform: translate(-50%, -50%);
    transform-origin: 740px;
}

.circleBig {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 75vw;
}

.circleSmall {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 65vw;
    max-width: 700px;
}

.wrap {
    position: relative;
    z-index: 9;
}

.finalImg {
    width: 459px;
}

.socialRow {
    justify-content: center;
}

.buttonSocial {
    @include mixins.button-reset;
    @include mixins.size(40px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1D203A;
    border: 1px solid $divider;
    border-radius: 50%;
    color: #fff;
}
