@use '../../../../styles';

@layer components {
    .sliding-panel {
        @include styles.size(100%);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 110;
        pointer-events: none;

        &.transition {
            &-enter {
                .sliding-panel__backdrop {
                    opacity: 0;
                }

                .sliding-panel__container {
                    transform: translateY(100%);
                }
            }

            &-enter-active {
                .sliding-panel__backdrop {
                    opacity: 1;
                    transition: opacity styles.$trans;
                }

                .sliding-panel__container {
                    transform: translateY(0);
                    transition: transform styles.$trans;
                }
            }

            &-exit {
                .sliding-panel__backdrop {
                    opacity: 1;
                }

                .sliding-panel__container {
                    transform: translateY(0);
                }
            }

            &-exit-active {
                .sliding-panel__backdrop {
                    opacity: 0;
                    transition: opacity styles.$trans;
                }

                .sliding-panel__container {
                    transform: translateY(100%);
                    transition: transform styles.$trans;
                }
            }
        }

        &._fullheight {
            .sliding-panel__content {
                height: calc(100% - 40px);
            }
        }

        .sliding-panel__backdrop {
            @include styles.size(100%);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            background-color: rgba(#000, .73);
            pointer-events: auto;
        }

        .sliding-panel__container {
            @include styles.size(100%);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
        }

        .sliding-panel__content {
            @include styles.size(100%, auto);
            position: absolute;
            left: 0;
            bottom: 0;
            max-height: calc(100% - 40px);
            padding: 16px 0 0 0;
            background-color: styles.$bg-secondary;
            overflow-y: scroll;
            pointer-events: auto;
            border-radius: 24px 24px 0 0;
            box-shadow: styles.$shadow-secondary;
        }

        .sliding-panel__close {
            @include styles.size(100%, 20px);
            position: sticky;
            top: 0;
            z-index: 101;
            text-align: right;
            padding-right: 16px;
            margin-bottom: 4px;

            .sliding-panel__close-button {
                @include styles.button-reset;
                @include styles.size(20px);
                position: relative;
                display: inline-block;
                color: styles.$text-secondary;
                transition: color styles.$trans-fast;

                &:hover {
                    color: styles.$text-primary;
                }
            }
        }
    }
}
