.exported-seed {
  width: 100%;
  padding: 40px 28px 28px;

  .exported-seed__title {
    margin-bottom: 28px;
  }

  .exported-seed__list {
    counter-reset: my-counter;
    list-style: none outside none;
    column-count: 2;

    .exported-seed__list-item {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.25px;
      margin-bottom: 12px;
      white-space: nowrap;
      counter-increment: my-counter;

      &::before {
        content: counter(my-counter) '. ';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: #96a1a7;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0 0;
        width: 3em;
        box-sizing: border-box;
        display: inline-block;
        padding: 0 4px;
      }
    }
  }

  .exported-seed__buttons {
    margin-top: 24px;

    > .button:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}
