@use '../../../../styles';

.enter-send-password {
    .enter-send-password__params {
        .enter-send-password__params-amount {
            display: flex;
            align-items: center;
            word-break: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;

            .root-token-icon {
                @include styles.size(20px);
                margin-right: 0.5rem;

                .outdated-asset-badge::before {
                    @include styles.size(8px);
                    content: '';
                    top: -8px;
                    border-radius: 50%;
                }
            }

            .token-amount-text {
                max-width: 100%;
                overflow-x: hidden;
                text-overflow: ellipsis;
            }

            .root-token-name {
                text-overflow: ellipsis;
            }
        }
    }

    .enter-send-password__field-select {
        margin-bottom: 20px;
    }

    .enter-send-password__field-password {
        margin-bottom: 28px;
    }

    .enter-send-password__field-switch {
        margin-top: 8px;
    }

    .enter-send-password__error-message {
        margin-top: 5px;
    }

    .enter-send-password__ledger-confirm {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.75px;
        color: #7d8b92;
        margin-bottom: 16px;
    }

    .enter-send-password__warning {
        border-radius: 2px;
        padding: 12px;
        background-color: rgba(styles.$error, .1);
        border: 1px solid rgba(styles.$error, .1);
        margin-bottom: 8px;

        .enter-send-password__warning-message {
            font-size: 16px;
            line-height: 20px;
            font-weight: 500;
            color: styles.$error;
        }

        .enter-send-password__warning-list {
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            color: styles.$error;
            margin-top: 8px;
        }

        .enter-send-password__warning-address {
            display: inline-flex;
            align-items: center;
            font-weight: 500;
            cursor: pointer;

            > svg {
                width: 12px;
                height: 12px;
                margin-left: 4px;
            }
        }

        .enter-send-password__warning-hint {
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            color: styles.$error;
            margin-top: 8px;

            > a {
                font-weight: 400;
            }
        }

        .enter-send-password__warning-label {
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            display: flex;
            margin-top: 16px;
            cursor: pointer;

            > .checkbox {
                margin-right: 8px;
            }
        }
    }

}
