@use '../../../../styles';

.enter-send-password {
    .enter-send-password__params {
        .enter-send-password__params-amount {
            display: flex;
            align-items: center;
            word-break: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;

            .root-token-icon {
                width: 20px;
                height: 20px;
                margin-right: 0.5rem;

                .outdated-asset-badge::before {
                    content: '';
                    height: 8px;
                    width: 8px;
                    top: -8px;
                    border-radius: 50%;
                }
            }

            .token-amount-text {
                max-width: 100%;
                overflow-x: hidden;
                text-overflow: ellipsis;
            }

            .root-token-name {
                text-overflow: ellipsis;
            }
        }
    }

    .enter-send-password__field-select {
        margin-bottom: 20px;
    }

    .enter-send-password__field-password {
        margin-bottom: 28px;
    }

    .enter-send-password__field-switch {
        margin-top: 8px;
    }

    .enter-send-password__error-message {
        margin-top: 5px;
    }

    .enter-send-password__ledger-confirm {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.75px;
        color: #7d8b92;
        margin-bottom: 16px;
    }

}
