@import '../../../../styles/colors';

.enter-send-password {
    .enter-send-password__confirm-details {
        background: $lightGreyBg;
        padding: 20px;

        .enter-send-password__confirm-details-param {
            &:not(:last-child) {
                margin-bottom: 16px;
                border-bottom: 1px solid #ebedee;
            }

            &:last-child {
                > *:last-child {
                    margin-bottom: 0;
                }
            }

            .enter-send-password__confirm-details-param-desc {
                display: block;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.75px;
                margin-bottom: 4px;
                color: #7d8b92;
            }

            .enter-send-password__confirm-details-param-value {
                display: block;
                color: $windowFg;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.75px;
                margin-bottom: 16px;
                word-break: break-all;

                &._amount {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    word-break: normal;
                    margin-right: auto;

                    .root-token-icon {
                        width: 20px;
                        height: 20px;
                        min-width: 20px;
                        min-height: 20px;
                        margin-right: 0.5rem;

                        .outdated-asset-badge::before {
                            content: '';
                            height: 8px;
                            width: 8px;
                            top: -8px;
                            border-radius: 50%;
                        }
                    }

                    .token-amount-text {
                        width: 100%;
                        overflow-x: hidden;
                    }

                    .root-token-name {
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }

    .enter-send-password__field-select {
        margin-bottom: 28px;
    }

    .enter-send-password__field-password {
        margin: 28px 0 0;
    }

    .enter-send-password__field-select {
        margin-top: 20px;
    }

    .enter-send-password__field-hint {
        margin-top: 5px;
        font-size: 12px;
        line-height: 18px;
        color: $seedsHeader;
    }

    .enter-send-password__field-switch {
        margin-top: 16px;
    }

    .enter-send-password__error-message {
        margin-top: 5px;
    }

    .enter-send-password__ledger-confirm {
        margin: 10px 0 0;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.75px;
        color: #7d8b92;
    }

}
