@use '../../../../styles';

@layer components {
    .acccounts-management-list {
        margin: 0 calc(-1 * var(--layout-container-padding));

        .acccounts-management-list__item {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 8px var(--layout-container-padding);
            min-height: 54px;

            &:hover {
                background-color: styles.$neutral-900;

                .acccounts-management-list__item-addon {
                    opacity: 1;
                }
            }

            &._active {
                .acccounts-management-list__item-name {
                    font-weight: 700;
                }

                .acccounts-management-list__item-icon {
                    opacity: 1;
                }
            }

            .acccounts-management-list__item-icon {
                @include styles.size(24px);
                flex: 0 0 auto;
                color: styles.$primary;
                opacity: .2;

                > :is(img, svg) {
                    @include styles.size(100%);
                    display: block;
                }
            }

            .acccounts-management-list__item-content {
                flex: 1 1 auto;
                overflow: hidden;
            }

            .acccounts-management-list__item-addon {
                display: flex;
                align-items: center;
                gap: 12px;
                flex: 0 0 auto;
                margin-left: auto;
                opacity: 0;

                .icon-button {
                    display: block;
                }
            }

            .acccounts-management-list__item-name {
                @include styles.ellipsis;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.1px;
                color: #000;

                small {
                    display: inline-block;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.1px;
                    color: #999da6;
                    margin-left: 4px;
                }
            }

            .acccounts-management-list__item-info {
                @include styles.ellipsis;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.1px;
                color: styles.$neutral-300;
                margin-top: 2px;

                &:empty {
                    display: none;
                }
            }
        }
    }
}
