@use '../../../../styles';

@layer components {
    .list {
        display: block;
    }

    .title {
        @include styles.text-h2;
        padding: 16px;
    }

    .item {
        @include styles.size(100%, 64px);
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 0 16px;
        cursor: pointer;
        border-top: 1px solid styles.$stroke-secondary;
        transition: styles.$trans-fast;

        &:hover {
            background: styles.$bg-tertiary;
        }

        [data-index="0"] > & {
            border-top: none;
        }

        .check {
            @include styles.size(20px);
            flex: 0 0 auto;
            color: styles.$text-primary;
        }

        .item-content {
            flex: 1 1 auto;
            overflow: hidden;
        }

        .item-name {
            @include styles.ellipsis;
            @include styles.text-button;
            color: styles.$text-primary;
        }

        .item-info {
            @include styles.ellipsis;
            @include styles.text-add-regular;
            color: styles.$text-secondary;
            margin-top: 4px;

            &:empty {
                display: none;
            }
        }

        .item-addon {
            flex: 0 0 auto;
            margin-left: 12px;
        }
    }
}
