@use "../../../../../../styles";

.pane {
    margin-top: 12px;
}

.item {
    height: 56px;
    padding: 0 16px;

    &:not(:first-child) {
        border-top: 1px solid styles.$stroke-secondary;
    }
}

.name {
    @include styles.text-button;
    color: styles.$text-primary;
}

.desc {
    @include styles.text-add-regular;
    color: styles.$text-secondary;
    margin-top: 4px;
}
