@use '../../../../styles';

@layer components {
    .icon-button {
        @include styles.button-reset;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 50%;
        transition: styles.$trans-fast;
        transition-property: background-color, color;

        &._size-s {
            @include styles.size(36px);
        }

        &._size-m {
            @include styles.size(44px);
        }

        &._size-l {
            @include styles.size(56px);
        }

        &._design-primary {
            background-color: styles.$bg-primary;
            color: styles.$text-contrast;

            &:not(:disabled) {
                &:hover {
                    background-color: styles.$blue;
                    color: styles.$text-contrast;
                }

                &:active {
                    color: styles.$text-secondary;
                }
            }

        }

        &._design-secondary {
            background-color: styles.$bg-secondary;
            color: styles.$text-primary;
            box-shadow: styles.$shadow-secondary;

            &:not(:disabled) {
                &:hover {
                    background-color: styles.$blue;
                    color: styles.$text-contrast;
                }

                &:active {
                    color: styles.$text-secondary;
                }
            }
        }

        &:disabled {
            opacity: .5;
            cursor: not-allowed;
        }

        > svg {
            display: block;
            width: 20px;
        }
    }
}
