@use "../../../../styles";

@layer components {
    .panel {
        background-color: styles.$bg-secondary;
        box-shadow: styles.$shadow-secondary;
        border-radius: 16px;
        overflow: hidden;
    }

    .title {
        color: styles.$text-primary;
        padding: 8px 16px;
    }

    .param {
        padding: 8px 16px;

        &:not(:first-child) {
            border-top: 1px solid styles.$stroke-secondary;
        }

        &._column {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

        &._row {
            display: flex;
            align-items: center;
            gap: 16px;
            overflow: hidden;

            > .label {
                flex: 0 0 auto;
            }

            > .value {
                @include styles.ellipsis;
                flex: 0 1 auto;
                margin-left: auto;
            }
        }
    }

    .label {
        @include styles.text-add-regular;
        color: styles.$text-secondary;
    }

    .value {
        @include styles.text-primary-regular;
        color: styles.$text-primary;
        word-break: break-word;
    }

    .handle {
        @include styles.button-reset;
        @include styles.size(100%, 28px);
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid styles.$stroke-secondary;

        &._collapsed > svg {
            transform: rotate(180deg);
        }

        > svg {
            @include styles.size(20px);
        }
    }
}
