@use '../../../../styles';

.stake-prepare-message {
    .stake-prepare-message__loader {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 200;
        background-color: rgba(#fff, .6);
    }

    .stake-prepare-message__user-info {
        margin-bottom: 20px;
    }

    .stake-prepare-message__header-title {
        align-self: start;
        color: #000;
        font-size: 24px;
        font-weight: bold;
        line-height: 32px;
        margin: 0;
        user-select: none;
    }

    .stake-prepare-message__header-subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.25px;
        color: #000;
        user-select: none;
        margin-top: 4px;

        > a {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
        }
    }

    .stake-prepare-message__content {
        padding-top: 0;
    }

    .stake-prepare-message__tabs {
        margin-bottom: 24px;

        .stake-prepare-message__tabs-item {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
        }

        .stake-prepare-message__tabs-label {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 20px;
            width: 20px;
            border-radius: 10px;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.2px;
            color: styles.$primary;
            background-color: styles.$primary-light;
        }
    }
}
