@use '../../../../styles';

.hint {
    @include styles.text-primary-regular;
}

.tabs {
    margin: 16px 0;

    .label {
        @include styles.text-add-bold;
        @include styles.size(20px);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        color: styles.$text-contrast;
        background-color: styles.$blue;
    }
}
