@layer components {
    .layout-container {
        --layout-container-padding: 16px;

        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        min-height: 100%;
        padding: 0 var(--layout-container-padding);

        & > & {
            min-height: auto;
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.layout-container {
    .rc-select-dropdown {
        z-index: 101; // header/footer overlap workaround
    }
}
