@use '../../../../styles';

.input {
    @include styles.size(100%, 30px);
    @include styles.text-h2;
    box-shadow: none;
    border: none;
    padding: 0;
    border-radius: 0;
}

.balance {
    @include styles.text-add-regular;
    color: styles.$text-secondary;
    margin-top: 4px;
}
