@use '../../../../../../styles';

.suffix {
    @include styles.button-reset;
    @include styles.text-secondary-bold;
    color: styles.$blue;
    padding: 0 4px 0 8px;
}

.amount {
    @include styles.text-add-regular;
    color: styles.$text-secondary;
}

.item {
    @include styles.size(100%, 56px);
    display: flex;
    align-items: center;

    &:not(:first-child) {
        border-top: 1px solid styles.$stroke-secondary;
    }
}

.user {
    padding: 0 12px;
}
