@use "../../../../styles/mixins";
@use "../../../../styles/colors";

.container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 560px;
    min-height: 630px;
    padding-bottom: 16px;
    margin: 0 auto;
}

.header {
    text-align: center;
    margin-bottom: 24px;
}

.title {
    @include mixins.text-h1;
}

.text {
    @include mixins.text-primary-regular;
    max-width: 560px;
}

.label {
    display: flex;
    align-items: center;
    gap: 4px;

    > span {
        @include mixins.text-add-regular;
        color: colors.$text-contrast-text;
    }
}
