@use "../../../../styles";

@layer components {
    .navbar {
        @include styles.size(100%, 68px);
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .navbar__left {
        flex: 0 0 auto;
        min-width: 44px;
    }

    .navbar__middle {
        flex: 1 1 0;
    }

    .navbar__right {
        flex: 0 0 auto;
        min-width: 44px;
        margin-left: auto;
    }
}
