@use '../../../../styles';

@layer components {
    .select {
        @include styles.button-reset;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        background-color: styles.$bg-secondary;
        overflow: hidden;

        &._appearance-select {
            @include styles.size(100%, 48px);
            gap: 8px;
            padding: 0 18px 0 16px;
            border-radius: 12px;
            box-shadow: styles.$shadow-main;
        }

        &._appearance-button {
            @include styles.size(40px);
            justify-content: center;

            .name {
                display: none;
            }
        }
    }

    .name {
        @include styles.ellipsis;
        @include styles.text-button;
        color: styles.$text-primary;
        text-align: left;
        flex: 1 1 auto;
    }

    .icon {
        @include styles.size(20px);
        color: styles.$blue;
        flex: 0 0 auto;
    }

    .list {
        margin: 4px -16px 0;
    }

    .item {
        @include styles.size(100%, 64px);
        padding: 0 16px;

        &:not(:first-child) {
            border-top: 1px solid styles.$stroke-secondary;
        }
    }

    .wrap {
        flex: 1 1 0;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .key-name {
        @include styles.ellipsis;
        @include styles.text-primary-regular;
        color: styles.$text-primary;
    }

    .key-value {
        @include styles.ellipsis;
        @include styles.text-add-regular;
        color: styles.$text-secondary;
    }
}
