@use '../../../../styles';

@layer components {
    .form-control {
        display: flex;
        flex-direction: column;
        gap: 6px;

        &._invalid {
            .input {
                border-color: $text-input-field-border-error;
            }
        }

        .form-control__label {
            @include styles.text-secondary-bold;
            display: block;
            color: styles.$text-primary;
            margin-bottom: 4px;
        }
    }
}
