@use '../../../../styles';

@layer components {
    .form-control {
        display: flex;
        flex-direction: column;
        gap: 4px;

        &._invalid {
            .input {
                border-color: styles.$red;
            }
        }

        .form-control__label {
            @include styles.text-secondary-bold;
            display: block;
            color: styles.$text-primary;
            margin-bottom: 4px;
        }
    }
}
