@use '../../../../styles';

.prepare-message {
    .prepare-message__header-title {
        align-self: start;
        color: styles.$windowFg;
        font-size: 24px;
        font-weight: bold;
        line-height: 32px;
        margin: 0;
        user-select: none;
    }

    .prepare-message__account-details {
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        .prepare-message__account-details-title {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.25px;
            color: #293166;
            padding: 0 12px;
        }
    }

    .prepare-message__balance {
        font-family: 'PT Root UI', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.75px;
        color: #96a1a7;
        margin-bottom: 10px;
    }

    .prepare-message__error-message {
        display: block;
        width: 100%;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.4px;
        margin-top: -26px;
        margin-bottom: 10px;
        color: darkred;
    }


    .prepare-message__field-input {
        margin-bottom: 28px;

        .prepare-message__field-input-btn {
            @include styles.button-reset;
            @include styles.font-inherit;
            color: styles.$windowBgActive;

            > img {
                display: block;
            }
        }
    }

    .prepare-message__field-checkbox {
        display: flex;
        margin-bottom: 40px;

        .prepare-message__field-checkbox-label {
            font-family: 'PT Root UI', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.75px;
            color: #96a1a7;
        }
    }
}
