@use '../../../../styles';

.item {
    padding: 12px 16px;

    &:not(:first-child) {
        border-top: 1px solid styles.$stroke-secondary
    }
}

.asset {
    display: flex;
    align-items: center;
    gap: 12px;
    overflow: hidden;

    .select {
        flex: 1 1 0;
    }

    .max {
        flex: 0 0 auto;
        width: auto;
        color: styles.$blue;

        &:hover {
            color: styles.$text-contrast;
        }
    }
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .footer-info {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .footer-hint {
        @include styles.text-add-regular;
        color: styles.$text-secondary;
        background-color: #f0f1f5;
        padding: 12px;
        border-left: 4px solid #c6c9cf;
    }
}

.add {
    width: auto;
    align-self: flex-start;
    padding: 0;
}

.checkbox {
    @include styles.text-secondary-bold;
    color: styles.$text-contrast-text;
}

.amount {
    border: 1px solid transparent;

    &:hover,
    &:focus-within {
        border: 1px solid styles.$stroke-primary;
    }
}
