@use '../../../../styles';

.prepare-message {
    .prepare-message__field-checkbox {
        display: flex;
        margin-bottom: 40px;

        .prepare-message__field-checkbox-label {
            @include styles.text-secondary-regular;
            color: styles.$text-secondary;
            cursor: pointer;
        }
    }

    .prepare-message__footer {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .prepare-message__footer-info {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .prepare-message__footer-hint {
            @include styles.text-add-regular;
            color: styles.$text-secondary;
            background-color: #f0f1f5;
            padding: 12px;
            border-left: 4px solid #c6c9cf;
        }
    }
}
