@use '../../../../styles';

.prepare-message {
    .prepare-message__loader {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 200;
        background-color: rgba(#fff, .6);
    }

    .prepare-message__header-title {
        align-self: start;
        color: #000;
        font-size: 24px;
        font-weight: bold;
        line-height: 32px;
        margin: 0;
        user-select: none;
    }

    .prepare-message__user-info {
        margin-bottom: 16px;
    }

    .prepare-message__balance {
        font-family: 'PT Root UI', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.75px;
        color: styles.$grey;
        margin-bottom: 10px;
    }

    .prepare-message__form {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .prepare-message__field {

    }

    .prepare-message__field-checkbox {
        display: flex;
        margin-bottom: 40px;

        .prepare-message__field-checkbox-label {
            font-family: 'PT Root UI', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.75px;
            color: styles.$grey;
            cursor: pointer;
        }
    }

    .prepare-message__add-btn {
        @include styles.button-reset;
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: styles.$primary;
    }

    .prepare-message__footer {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .prepare-message__footer-info {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .prepare-message__footer-hint {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.2px;
            color: #2e2f33;
            background-color: styles.$neutral-900;
            padding: 12px;
            border-left: 4px solid #c6c9cf;
        }
    }
}
