@use '../../../../styles';

.nft-token-transfer {
    .nft-token-transfer__header {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .nft-token-transfer__header-title {
        color: #000;
        font-size: 24px;
        font-weight: bold;
        line-height: 32px;
        user-select: none;
    }

    .nft-token-transfer__form {
        margin-top: 20px;
    }

    .nft-item__balance {
        display: none;
    }
}
