@use "../../../../styles";

@layer components {
    .button {
        @include styles.button-reset;
        font-size: inherit;
        line-height: inherit;
        color: inherit;
        text-decoration: underline;
    }

    .checkbox {
        @include text_m;
    }
}
