@use "../../../../styles";

.tabs {
    display: flex;
    border-bottom: 1px solid styles.$neutral-800;
    background: #fff;

    .tabs__item {
        @include styles.button-reset;
        position: relative;
        flex: 1 1 0;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: styles.$grey;
        cursor: pointer;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.25px;
        padding: 16px 0;

        &:disabled {
            opacity: .6;
            cursor: not-allowed;
        }

        &:hover:not(:disabled) {
            color: styles.$primary;
        }

        &._active {
            color: styles.$primary;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 2px;
                background-color: styles.$primary;
            }
        }
    }
}
