@use "../../../../styles";

@layer components {
    .tabs {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 4px;
        border-radius: 12px;
        // background: styles.$bg-app;
        background: $bg-layer-1;

        &._compact {
            gap: 8px;
            padding: 0;

            .item {
                @include styles.text-button;
                @include focus;
                flex: 0 0 auto;
                height: 32px;
                padding: 0 16px;
                color: styles.$text-secondary;
                background-color: styles.$bg-secondary;

                &:hover:not(:disabled):not(._active) {
                    color: styles.$blue;
                }

                &._active {
                    color: styles.$text-contrast;
                    background-color: styles.$bg-primary;
                }
            }
        }

        .item {
            @include styles.button-reset;
            @include label_s;
            @include focus;
            font-weight: 500;
            // badge support
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
            flex: 1 1 auto;
            border-radius: 8px;
            height: 32px;
            padding: 0 8px;
            color: styles.$text-secondary;
            background-color: transparent;
            transition: styles.$trans-fast;
            transition-property: color, background-color;

            &:disabled {
                opacity: .5;
                cursor: not-allowed;
            }

            &:hover:not(:disabled):not(._active) {
                color: $segment-controller-item-text-selected;
            }

            &._active {
                background-color: $segment-controller-item-selected-bg;
                color: $segment-controller-item-text-selected;
            }
        }
    }
}
