@use "../../../../styles";

@layer components {
    .tabs {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 4px;
        border-radius: 16px;
        background: styles.$bg-app;

        .tabs__item {
            @include styles.button-reset;
            @include styles.text-primary-bold;
            flex: 1 1 0;
            border-radius: 12px;
            height: 40px;
            color: styles.$text-primary;
            background-color: transparent;
            transition: styles.$trans-fast;
            transition-property: color, background-color;

            &:disabled {
                opacity: .5;
                cursor: not-allowed;
            }

            &:hover:not(:disabled):not(._active) {
                color: styles.$blue;
            }

            &._active {
                background-color: styles.$bg-secondary;
            }
        }
    }
}
