@use "../../../../../../styles";

.carousel {
    padding: 0 16px;
    margin: 0 -16px;
    //overflow: hidden; // TODO: check this

    > .swiper {
        overflow: visible;
    }

    .carousel__controls {
        display: flex;
        align-items: center;
        margin-top: 12px;
    }

    .carousel__controls-buttons {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 8px;
        margin-left: auto;

        > .carousel__controls-buttons-menu {
            margin-right: 8px;
        }
    }

    .carousel__controls-pagination {
        display: flex;
        align-items: center;
        flex: 0 0 auto;
        max-width: 172px;
        height: 36px;
        padding: 0 10px;

        .carousel__controls-pagination-inner {
            flex: 0 0 auto;
            max-width: 96px;
            overflow: hidden;
        }
    }

    .carousel__bullet-container {
        display: flex;
        align-items: center;
        gap: 8px;
        transition: transform styles.$trans-fast;
        will-change: transform;
    }

    .carousel__bullet {
        @include styles.size(8px);
        flex: 0 0 auto;
        border-radius: 50%;
        background-color: styles.$blue-secondary;
        transition: styles.$trans-fast;
        transition-property: transform, background-color;

        &:not(._active) {
            cursor: pointer;
            transform: scale(0.7);
        }

        &:last-child {
            transform: scale(.5);
        }

        &._active {
            transform: scale(1);
            background-color: styles.$text-primary;
        }

        &._edge {
            transform: scale(.5);
        }
    }
}
