@use "../../../../../../styles";

.carousel {
    padding: 0 16px;
    margin: 0 -16px;
    //overflow: hidden; // TODO: check this

    > .swiper {
        overflow: visible;
    }

    .carousel__controls {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 12px;
    }

    .carousel__controls-menu {
        margin-left: auto;
    }

    .carousel__controls-pagination {
        display: flex;
        align-items: center;
        gap: 8px;
        flex: 0 0 auto;
        height: 36px;
        padding: 0 8px;
        background-color: styles.$bg-secondary;
        border-radius: 18px;

        .carousel__controls-pagination-inner {
            flex: 0 0 auto;
            max-width: 152px;
            overflow: hidden;
        }

        .carousel__controls-pagination-arrow {
            flex: 0 0 auto;
            color: styles.$text-primary;

            &:disabled {
                opacity: 1;
                color: styles.$text-secondary;
            }

            &.swiper-button-lock {
                display: block;
            }
        }
    }

    .carousel__bullet-container {
        display: flex;
        align-items: center;
        gap: 8px;
        transition: transform styles.$trans-fast;
        will-change: transform;
    }

    .carousel__bullet {
        @include styles.size(8px);
        flex: 0 0 auto;
        border-radius: 50%;
        background-color: styles.$text-secondary;
        transition: styles.$trans-fast;
        transition-property: transform, background-color;

        &:not(._active) {
            cursor: pointer;
        }

        &._active {
            transform: scale(1);
            background-color: styles.$text-primary;
        }

        &._edge {
            transform: scale(.75);
        }
    }
}
