@use '../../../../styles';

@layer components {
    .checkbox {
        display: flex;
        align-items: center;
        gap: 8px;
        position: relative;
        cursor: pointer;

        &._disabled {
            cursor: not-allowed;

            .checkmark {
                border-color: $checkbox-border-disabled;
            }

            .input:checked ~ .checkmark {
                background-color: $checkbox-bg-disabled;
                border-color: $checkbox-bg-disabled;
            }
        }

        &._label-before {
            .checkmark {
                order: 1;
                margin-left: auto;
            }

            .label {
                order: 0;
            }
        }

        &._label-after {
            .checkmark {
                order: 0;
            }

            .label {
                order: 1;
            }
        }

        .input {
            @include styles.size(0);
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

        .checkmark {
            @include styles.size(20px);
            flex: 0 0 auto;
            position: relative;
            border-radius: 6px;
            border: 1px solid $checkbox-border;
            background-color: transparent;
            transition: styles.$trans-fast;
            transition-property: background-color, border-color;
        }

        .label {
            @include styles.font-inherit;
            color: inherit;
            flex: 0 1 auto;
            overflow: hidden;
        }

        &:hover .input:not(:disabled) ~ .checkmark {
            border-color: $checkbox-border-hover-pressed;
        }

        & .input:checked ~ .checkmark {
            background-color: $checkbox-bg;
            border-color: $checkbox-bg;
        }

        & .checkmark:after {
            width: 12px;
            height: 10px;
            content: '';
            position: absolute;
            left: 3px;
            top: 4px;
            background: center center url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMiAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgNC41TDQuNjM2MzYgOC41TDExIDEuNSIgc3Ryb2tlPSIjMEQwRjIwIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K") no-repeat;
            background-size: contain;
            transform: scale(0);
            transition: transform styles.$trans-fast;
        }

        & .input:checked ~ .checkmark:after {
            transform: scale(1);
        }
    }
}
