@use "../../../../styles";

.title {
    @include heading_l;
    margin: 0 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.all {
    @include styles.button-reset;
    @include label_m;
    color: $text-primary;
}

.empty {
    padding: 16px 0;
}

.list {
    margin: 0 -8px;
}

.item {
    @include styles.size(100%, 64px);
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 0 12px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 12px;
    transition: 0.2s ease;

    &:hover {
        background: $bg-layer-2;
    }
}

.icon {
    @include styles.size(36px);
    flex: 0 0 auto;
}

.wrap {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 2px;
    overflow: hidden;
}

.amount {
    @include label_m;
    color: $text-primary;
}

.usd {
    @include text_s;
    color: $text-secondary;
}

.checkbox {
    flex: 0 0 auto;
}

.footer {
    display: flex;
    gap: 12px;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0 0;
    color: $text-secondary;
}
