@use "../../../../styles";

.btn {
    @include styles.button-reset;
    @include styles.text-button;
    @include styles.size(100%, 56px);
    color: styles.$text-primary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 16px;
    border: 1px solid transparent;
    background-color: styles.$bg-secondary;

    &:hover {
        border: 1px solid styles.$stroke-primary;
    }
}
