@use "../../../../styles";

.accounts-flow {
    .accounts-flow__select {
        margin-bottom: 8px;
    }

    .accounts-flow__buttons {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .accounts-flow__btn {
        @include styles.button-reset;
        @include styles.size(100%, 56px);
        display: flex;
        align-items: center;
        gap: 12px;
        background-color: styles.$primary-light;
        padding: 0 12px;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: styles.$primary;

        .accounts-flow__btn-icon {
            @include styles.size(24px);
            flex: 0 0 auto;
        }

        .accounts-flow__btn-arrow {
            @include styles.size(24px);
            flex: 0 0 auto;
            margin-left: auto;
        }
    }
}
