@use "../../../../styles";

.card {
    margin-top: 12px;
}

.btn {
    @include styles.button-reset;
    @include styles.text-button;
    @include styles.size(100%, 56px);
    color: styles.$text-primary;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    gap: 8px;
    padding: 0 16px;
    transition: styles.$trans-fast;

    &:hover {
        color: styles.$text-primary;
        background: styles.$bg-quaternary;
    }

    &:not(:first-child) {
        border-top: 1px solid styles.$stroke-secondary;
    }
}

.icon {
    @include styles.size(20px);
    flex: 0 0 auto;
    color: styles.$text-primary;
}

.chevron {
    @include styles.size(20px);
    flex: 0 0 auto;
    color: styles.$text-primary;
    margin-left: auto;
}
