@use "../../../../styles";

@layer components {
    .empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        color: $text-secondary;

        .text {
            @include text_s;
            color: inherit;
            text-align: center;
        }
    }

    .scroller {
        &:has(.empty) { //  ¯\_(ツ)_/¯
            height: 148px;
        }

        .empty {
            padding: 16px 0;
        }
    }
}
