@use '../../../../styles';

.network-form {
    .form-control {
        .form-control__inputs {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .form-control__check-icon {
            color: $badge-success-text;
        }
    }
}

.network-form__radios {
    display: flex;
    align-items: center;
    gap: 16px;
}

.form-control__input-laoder {
    display: block;
}
