@use '../../../../styles';

.network-form {
    .form-control {
        .form-control__hr {
            width: 100%;
            height: 1px;
            margin: 0;
            padding: 0;
            background-color: styles.$neutral-850;
            border: none;
        }

        .form-control__suffix-btn {
            @include styles.button-reset;
            display: block;

            &._add {
                color: styles.$primary
            }

            &._delete {
                color: styles.$error
            }
        }

        .form-control__inputs {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .form-control__check-icon {
            color: styles.$success
        }
    }

    .network-form__btn {
        @include styles.button-reset;
        display: inline-flex;
        align-items: center;
        gap: 6px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;

        &:disabled {
            opacity: .6;
            cursor: not-allowed;
        }

        &._delete {
            color: styles.$error;
        }

        &._reset {
            color: styles.$primary;
        }
    }
}
