@use '../../../../styles';

.network-form {
    .network-form__type {
        border-radius: 12px;
        background-color: styles.$bg-secondary;
        box-shadow: styles.$shadow-secondary;
    }

    .network-form__type-item {
        height: 56px;
        padding: 0 16px;

        &:not(:first-child) {
            border-top: 1px solid styles.$stroke-primary;
        }
    }

    .form-control {
        .form-control__inputs {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .form-control__input {
            display: flex;
            align-items: center;
            gap: 8px;

            > .input {
                flex: 1 1 0;
            }

            > .form-control__input-btn {
                flex: 0 0 auto;
                color: styles.$red;
            }

            .form-control__input-suffix {
                color: styles.$blue;
            }
        }

        .form-control__check-icon {
            color: styles.$green
        }
    }
}
