.add-new-token {
  padding: 20px;

  .add-new-token__header {
    user-select: none;
  }

  .add-new-token__tabs {
    margin-bottom: 16px;
  }

  .add-new-token__content {
    margin-top: 12px;
  }

  .add-new-token__loader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
