@use '../../../../styles';

.content {
    display: flex;
    flex-direction: column;
}

.bottom {
    margin-top: auto;
}

.version {
    @include styles.text-add-regular;
    color: styles.$text-secondary;
    text-align: center;
    margin-top: 16px;
}
