@use '../../../../styles';

.content {
    display: flex;
    flex-direction: column;
}

.seed {
    text-align: center;

    .label {
        @include styles.text-add-regular;
        color: styles.$text-secondary;
    }

    .name {
        @include styles.text-secondary-bold;
    }
}

.pane {
    border-radius: 16px;
    background: styles.$bg-secondary;
    box-shadow: styles.$shadow-main;
}

.item {
    @include styles.size(100%, 56px);
    @include styles.button-reset;
    @include styles.text-button;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 16px;
    color: styles.$text-primary;
    overflow: hidden;

    &:not(:first-child) {
        border-top: 1px solid styles.$stroke-secondary;
    }

    > .arrow {
        @include styles.size(20px);
        color: styles.$text-secondary;
        flex: 0 0 auto;
        margin-left: auto;
    }
}

.bottom {
    margin-top: auto;
}

.version {
    @include styles.text-add-regular;
    color: styles.$text-secondary;
    text-align: center;
    margin-top: 8px;
}

.recent {
    .label {
        @include styles.text-button;
        padding: 12px 16px 0;
    }

    > .item {
        border-top: none;
    }
}

.seed-name {
    @include styles.text-button;
    text-align: left;
}

.seed-info {
    @include styles.text-add-regular;
    color: styles.$text-secondary;
    text-align: left;
    margin-top: 4px;
}
