@use "../../../../../../styles";

.transaction {
    border-radius: 16px;
    border: 1px solid styles.$stroke-secondary;
    background: styles.$bg-secondary;
    cursor: pointer;

    &:hover {
        .arrow {
            color: styles.$text-primary;
        }
    }
}

.data {
    position: relative;
    padding: 12px 32px 12px 16px;
}

.img {
    @include styles.size(16px);
    flex: 0 0 auto;
}

.arrow {
    @include styles.size(20px);
    position: absolute;
    top: 24px;
    right: 8px;
    color: styles.$text-secondary;
}

.amount {
    @include styles.ellipsis;
    @include styles.text-button;
    display: flex;
    align-items: center;
    gap: 4px;

    .expense::before {
        @include styles.font-inherit;
        content: '-';
    }

    .income::before {
        @include styles.font-inherit;
        content: '+';
    }
}

.info {
    @include styles.text-add-regular;
    color: styles.$text-secondary;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 8px;
    overflow: hidden;
}

.item {
    @include styles.ellipsis;
    flex: 0 0 auto;

    &:not(:last-child) {
        &::after {
            @include styles.font-inherit;
            content: '•';
            margin-left: 4px;
        }
    }
}

.status {
    margin-top: 12px;
}
