@use "../../../../styles";

.delete-seed {
    .delete-seed__title {
        font-size: 20px;
        line-height: 24px;
        color: #000;
        padding-right: 20px;
    }

    .delete-seed__message {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: #000;
    }

    .delete-seed__list {
        margin-top: 12px;

        .delete-seed__list-title {
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: styles.$neutral-400;
        }

        .list-item {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 12px 0;
            overflow: hidden;

            .list-item__img {
                width: 24px;
                height: 24px;
                color: styles.$primary;
            }

            .list-item__name {
                @include styles.ellipsis;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.1px;
                color: #000;
            }

            .list-item__info {
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.1px;
                color: #6c7078;
                margin-top: 2px;

                .list-item__info-accounts {
                    display: inline-block;

                    &::before {
                        content: '\0000a0•\0000a0';
                    }
                }
            }
        }
    }
}
