@use "../../../../styles";

.contact-item {
    display: flex;
    align-items: center;
    gap: 8px;
    overflow: hidden;
}

.info {
    overflow: hidden;
}

.name {
    @include styles.ellipsis;
    @include styles.text-secondary-bold;
    color: var(--contact-item-name-color, styles.$text-primary);

    &:empty {
        display: none;
    }

    &:not(:empty) + .address {
        @include styles.text-add-regular;
        color: styles.$text-secondary;
    }
}

.address {
    @include styles.ellipsis;
    @include styles.text-secondary-bold;
    color: var(--contact-item-name-color, styles.$text-primary);
}
