@use '../../../../styles';

.new-password {
    width: 100%;

  .new-password__form {
    min-height: 300px;

    .new-password__form-header {
      margin-bottom: 12px;
    }

    .new-password__form-comment {
      color: styles.$windowFg;
      margin-bottom: 28px;
    }

    .new-password__form-error {
      display: block;
      width: 100%;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.4px;
      color: styles.$error;
    }
  }

  .new-password__buttons {
    > .button:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}
