@use '../../../../styles';

.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item {
    flex: 0 0 auto;
    border-radius: 16px;
    border: 1px solid styles.$stroke-secondary;
    background: styles.$bg-secondary;
    cursor: pointer;
}

.data {
    position: relative;
    padding: 12px 16px;
}

.img {
    @include styles.size(16px);
    flex: 0 0 auto;
}

.arrow {
    @include styles.size(20px);
    position: absolute;
    top: 24px;
    right: 8px;
    color: styles.$text-secondary;
}

.amount {
    @include styles.text-button;
    display: flex;
    align-items: center;
    gap: 4px;
}

.info {
    @include styles.text-add-regular;
    color: styles.$text-secondary;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 4px;
}

.status {
    margin-top: 12px;
}
