@use '../../../../styles';

.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item {
    display: flex;
    flex-direction: row;
    gap: 14px;
    flex: 0 0 auto;
    border-radius: 12px;
    padding: 16px 14px;
    background: $bg-layer-1;
    cursor: pointer;
}

.data {
    position: relative;
    width: 100%;
}

.img {
    @include styles.size(16px);
    flex: 0 0 auto;
}

.arrow {
    @include styles.size(32px);
    padding: 6px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0.08) 100%);
    border-radius: 100%;
    flex: 0 0 auto;
    color: styles.$text-primary;
    transform: rotate(-45deg);
}

.amount {
    @include label_m;
    display: flex;
    align-items: center;
    gap: 4px;
}

.info {
    @include text_s;
    color: styles.$text-primary;
    opacity: 0.48;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    margin-top: 2px;
}

.status {
    margin-top: 6px;
}
