@use '../../../../../../styles';

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
    padding: 10px 12px;
    cursor: pointer;
    user-select: none;
    transition: styles.$trans-fast;
    border-radius: 8px;

    &:hover {
        background: $bg-layer-2;
    }
}

.logo {
    @include styles.size(32px);
}

.left {
    flex-grow: 1;
}

.name {
    @include label_m;
    color: $text-primary;
    margin: 0 0 2px;
}

.evers {
    @include text_s;
    color: $text-secondary;
}

.right {
    @include text_m;
    color: $text-primary;
}

.badge {
    margin: 0 0 2px 6px;
}
