@use '../../../../../../styles';

.assets-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid styles.$stroke-secondary;
    padding: 12px 16px;
    cursor: pointer;
    user-select: none;

    &:first-child {
        border-top: none;
    }

    .assets-list-item__logo {
        @include styles.size(40px);
    }

    .assets-list-item__arrow {
        @include styles.size(20px);
        color: styles.$text-secondary;
        margin-left: auto;
    }

    .assets-list-item__balance {
        overflow: hidden;
        margin-left: 8px;

        .assets-list-item__balance-amount {
            @include styles.ellipsis;
            @include styles.text-button;
        }

        .assets-list-item__balance-dollars {
            @include styles.text-add-regular;
            color: styles.$text-secondary;
            margin-top: 4px;
        }
    }

    .assets-list-item__badge {
        margin: 0 0 2px 6px;
    }
}
