@use '../../../../../../styles';

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid styles.$stroke-secondary;
    padding: 12px 16px;
    cursor: pointer;
    user-select: none;

    &:first-child {
        border-top: none;
    }

    &:hover {
        .arrow {
            color: styles.$text-primary;
        }
    }
}

.logo {
    @include styles.size(40px);
}

.arrow {
    @include styles.size(20px);
    color: styles.$text-secondary;
    margin-left: auto;
}

.balance {
    overflow: hidden;
    margin-left: 8px;

    .amount {
        @include styles.ellipsis;
        @include styles.text-button;
    }

    .dollars {
        @include styles.text-add-regular;
        color: styles.$text-secondary;
        margin-top: 4px;
    }
}

.badge {
    margin: 0 0 2px 6px;
}
