@use '../../../../../../styles';

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 12px 16px;
    cursor: pointer;
    user-select: none;
    transition: styles.$trans-fast;

    &:hover {
        background: styles.$bg-tertiary;
    }
}

.logo {
    @include styles.size(40px);
}

.left {
    flex-grow: 1;
}

.name {
    @include styles.text-secondary-bold;
    font-weight: 500;
    line-height: 24px;
}

.evers {
    @include styles.text-add-regular;
    color: styles.$text-secondary;
}

.right {
    @include styles.text-secondary-bold;
    font-weight: 500;
}

.badge {
    margin: 0 0 2px 6px;
}
